.attr-visibility.truncate.card_type_filter(ng-class="{'card_type_filter--short': shortView}")
	button.card__action-sort(
		ng-class="{ 'up': sortConfig && sortConfig.sortOrder === 'asc', 'desc': sortConfig && sortConfig.sortOrder === 'desc', 'card__action-sort-alphabet': isAbc }", 
		ng-click="setSortOrder(sortConfig.sortOrder, $event)"
		uib-tooltip="Reverse Order",
		tooltip-placement="bottom-left", 
		tooltip-append-to-body="true"
	)
	
	span.sort-options(uib-dropdown dropdown-append-to-body)
		span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;" uib-tooltip="Sort Options", tooltip-placement="right" tooltip-append-to-body="true")
			span.card__title-full {{ title }}:
		.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu, ng-class="{'dropdown-menu-right': alignToRight}")
			.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
			//- inline style to center dropdowns
			.uib-dropdown-flex-content
				.uib-dropdown-triangle
				.uib-dropdown-flex.center
					ul.dd-list.list-unstyled
						li.row.vert-align.pointable-cursor(ng-repeat="sortType in sortTypes" ng-click="setSortType(sortType.id, $event)")
							.col-xs-12
								h6.no-margin.text-capitalize {{::sortType.title}}
