.panel-item.pointable-cursor(ng-repeat="item in catListData track by $index", ng-class="{'highlighted' : item.highlightOnNodeHover}", uib-tooltip="{{::item.name}}", tooltip-placement="right", tooltip-append-to-body="true")
  .flex-container.color-box(
    ng-mouseenter="overCat(item, $event)", 
		ng-mouseleave="outCat(item)",
    ng-click="onCatClick(item, $event)")
    .legend-icon(style="color: {{item.colorVal}}")
    span.color-box__line(style="background-color: {{item.colorVal}}; width: {{calcLineWidth(item)}}%; opacity: 0.5")
    span.color-box__line(style="background-color: {{item.colorVal}}; width: {{calcSelectedLineWidth(item)}}%; opacity: 0.5")    
    div(ng-if="ui.summaryToggleOpen && (item.archetypes.length > 0 || item.bridgers.length > 0)")
      .legend-line-down.animate-fade(style="border-color: {{item.colorVal}}" ng-class="{'only-one':(item.bridgers.length == 0 || item.archetypes.length == 0)}")
    h6.less-gutter.panel-text(ng-class="{'reduced': isInSelection }") {{item.text}}
    h6.panel-number {{getTooltipInfo(item)}}
.panel-item-actions(ng-if="catListDataTail.length", ng-class="{'panel-item-actions_active' : isShowMore}")
  span.panel-item-actions__info {{isShowMore ? totalItems : displayItemsBars}} of {{totalItems}}
  button.panel-item-actions__btn(ng-click="toggleShowMore()"){{ !isShowMore ? 'Show More →' : '← Less' }}
.panel-item-more(ng-class="{'panel-item-more_open' : isShowMore }")
  .panel-item.pointable-cursor(ng-repeat="item in catListDataTail track by $index", ng-if="catListDataTail.length", ng-class="{'highlighted' : item.highlightOnNodeHover}", uib-tooltip="{{::item.name}}", tooltip-placement="right", tooltip-append-to-body="true")
    .flex-container.color-box(
      ng-mouseenter="overCat(item, $event)", 
      ng-mouseleave="outCat(item)",
      ng-click="onCatClick(item, $event)")
      .legend-icon(style="color: {{item.colorVal}}")
      span.color-box__line(style="background-color: {{item.colorVal + 50}}; width: {{calcLineWidth(item)}}%")
      span.color-box__line(style="background-color: {{item.colorVal + 50}}; width: {{calcSelectedLineWidth(item)}}%")
      div(ng-if="ui.summaryToggleOpen && (item.archetypes.length > 0 || item.bridgers.length > 0)")
        .legend-line-down.animate-fade(style="border-color: {{item.colorVal}}" ng-class="{'only-one':(item.bridgers.length == 0 || item.archetypes.length == 0)}")
      h6.less-gutter.panel-text {{item.text}}
      h6.panel-number {{getTooltipInfo(item)}}