.page.page-stage(ng-init="ui.setPage('project');")
	.stage(ng-controller="projectCtrl")
		#mappr
			.pinned-media(ng-if="pinnedMedia.isMediaPinned")
				dir-media-embed(url="pinnedMedia.nodeValue" node-color-str="{{pinnedMedia.nodeColorStr}}", is-small="false", is-pinned="true", render-width="300", render-height="225" pin-media="pinnedMedia.pinMedia" unpin-media="pinnedMedia.unpinMedia")
			div(ng-include=' "#{server_prefix}#{view_path}/components/project/header/projectHeader.html" ')
			#project-layout.project-layout(ng-if="org.userAuthorised")
				div(ng-controller="renderGraphCtrl")
					div(ng-controller="layoutCtrl")
						geolayout(ng-if="plotType == 'geo'")
						sig(ng-show="plotType != 'grid' && plotType != 'list'")
						dir-grid-layout.animate-fade(ng-if="plotType == 'grid'")
						dir-list-layout.animate-fade(ng-if="plotType == 'list'")
						drawaxis(ng-if="plotType == 'scatterplot'")
						div(ng-controller="NodeOverlayCtrl", ng-include=' "#{server_prefix}#{view_path}/components/project/overlays/node_overlay/nodeOverlay.html" ')
						div(ng-controller="NodeOverlayCtrl" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/node_right_panel/NodeRightPanel.html" ')
						div(ng-controller="NodePopCtrl", ng-include=' "#{server_prefix}#{view_path}/components/project/overlays/node_pop/nodePop.html" ')
						div(ng-controller="RightPanelTabsProjectCtrl" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/rightPanelTabs.html" ')
						div(ng-controller="RightPanelTabsProjectCtrl" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/floatingForm.html" ')
						div(ng-controller="RightPanelCtrl" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/rightPanel_proj.html" ')
						.publish-panel(ng-controller="SnapshotPanelCtrl",
							ng-include=' "#{server_prefix}#{view_path}/components/project/panels/snapshot/snapshotpanel.html" ')
				
			#forbidden(ng-if="!org.userAuthorised", style="position:fixed; top: 50px; left: 50px;")
				h4 You are not authorized to view this project!
