.flex-transclude.width-100(ng-mouseleave="rightPanelExited();", ng-controller="FilterPanelParentCtrl")
	.flex-vert-container.flex-transclude.panel-container.width-100
		//- .filter-header
			//- ul.filter-header__list
			//- 	li.filter-header__item.tag.filter-header__item_current(ng-click="navigateTo('.tags-first-item')", ng-if="canShowTagsBtn()")
			//- 		span.filter-header__link Tags
			//- 	li.filter-header__item.chart(ng-click="navigateTo('.chart-first-item')", ng-if="canShowChartsBtn()")
			//- 		span.filter-header__link Charts

		.panel-scroll.flex-fill.flex-vert-container(ng-controller="FilterPanelCtrl")
			//- span {{filteredDistrAttrs.length}} of {{nodeDistrAttrs.length}}
			div()
				div.filter-list-category__head(ng-class="{'filter-list-category_open' : isShowMainCategory}", ng-click='showMainCategory()')
					h5.filter-list-category__title Data Filters
					button.filter-list-category__btn(ng-class='{"filter-list-category__btn_active": isShowMainCategory}')
				ul.filter-list(container-item-count="nodeDistrAttrs.length" dir-kill-tooltip-on-scroll, ng-class="{'filter-list_shown' : ui.renderDistr && isShowMainCategory}", on-scroll="onScroll")
					li.filter-list__item(
						ng-repeat="attr in ui.filteredAttrs = ((hasPriority ? nodeDistrAttrsHigh : nodeDistrAttrs) | filter: {title : ui.statsSearchKey}) track by attr.id",
						ng-if="attr.visible", ng-class="{'attr-hidden':!attr.visible, 'first': ($index == 1), 'chart-first-item': attr.isFirstChart, 'tags-first-item': attr.isFirstTag}",
						ng-click='selectNodesByAttrib(attr.title, attr.value, $event)'
					)
						section.card.card_type_filter(data-attr="{{attr.id}}", class="card_collapsed" ng-class="{'card__chart' : attr.attrType == 'integer' || attr.attrType == 'float' || attr.attrType == 'boolean' || attr.attrType == 'year' || attr.attrType == 'timestamp' }")
							header.card__header(ng-click="collapseCard($event)")
								.card__head-wrap(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' && attr.attrType != 'year' && attr.attrType != 'timestamp'")
									h2.card__title(dir-elem-ready="onAttrHeaderLoad(attr, $event)") {{::attr.title}}
									span.card__tooltip(ng-if="attr.tooltip"
										uib-tooltip="{{attr.tooltip}}",
										tooltip-placement="right", 
										tooltip-append-to-body="true")

									button.card__action-sort(
										ng-if="isShowSortButton(attr)",
										ng-class="{ 'up': attr.sortConfig && attr.sortConfig.sortType === 'frequency' && attr.sortConfig.sortOrder === 'asc', 'disabled': attr.sortConfig && attr.sortConfig.sortType !== 'frequency' }",
										ng-click="setSortOrder(attr, 'frequency')"
										uib-tooltip="Sort by frequency of occurrence",
										tooltip-placement="right", 
										tooltip-append-to-body="true"
										)
									button.card__action-sort.card__action-sort-alphabet(
										ng-if="isShowSortButton(attr)",
										ng-class="{ 'desc': attr.sortConfig && attr.sortConfig.sortType === 'alphabetical' && attr.sortConfig.sortOrder === 'desc', 'disabled': !attr.sortConfig || (attr.sortConfig && attr.sortConfig.sortType !== 'alphabetical') }", 
										ng-click="setSortOrder(attr, 'alphabetical')"
										uib-tooltip="Sorted alphabetically",
										tooltip-placement="right", 
										tooltip-append-to-body="true"
										)
									.card__search-wrap(ng-if="attr.renderType != 'horizontal-bars'")
										.card__action-search
											button(ng-click="searchToggle(attr)") search

										.card__search-box
											input(type='text', ng-model="attr.searchQuery", ng-change="search(attr, $event)")/
											button.close(ng-click="clearSearch(attr); searchToggle(attr);") close
								button.card__action-collapse(ng-click="collapseCard($event)")
									
							.card__body
								.card__content
									dir-attr-renderer(attr-to-render="attr", node-color-str="nodeColorStr", is-node="true", show-filter="ui.enableFilters", disable-filter="attr.disableFilter" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")

						h6.no-margin.text-center.card_histogram.title(
							ng-if="attr.attrType == 'integer' || attr.attrType == 'float' || attr.attrType == 'boolean' || attr.attrType == 'year' || attr.attrType == 'timestamp'",
							ng-click="collapseCardHistogram($event)"
						)
							span {{::attr.title}}
							span(ng-show="attr.principalVal") :&nbsp;{{attr.principalVal}}
							span.card__tooltip.tooltip__histogram(ng-if="attr.tooltip"
									uib-tooltip="{{attr.tooltip}}",
									tooltip-placement="right", 
									tooltip-append-to-body="true")
			.filter-list-category(ng-if="hasPriority")
				div.filter-list-category__head(ng-class="{'filter-list-category_open' : isShowAdditionalCategory}", ng-click='showAdditionCat()')
					h5.filter-list-category__title Advanced Filters
					button.filter-list-category__btn(ng-class='{"filter-list-category__btn_active": isShowAdditionalCategory}')
				ul.filter-list(container-item-count="nodeDistrAttrs.length" dir-kill-tooltip-on-scroll, ng-class="{'filter-list_shown' : ui.renderDistr && isShowAdditionalCategory}", on-scroll="onScroll")
					li.filter-list__item(
						ng-repeat="attr in ui.filteredAttrs = (nodeDistrAttrsLow | filter: {title : ui.statsSearchKey}) track by attr.id",
						ng-if="attr.visible", ng-class="{'attr-hidden':!attr.visible, 'first': ($index == 1), 'chart-first-item': attr.isFirstChart, 'tags-first-item': attr.isFirstTag}",
						ng-click='selectNodesByAttrib(attr.title, attr.value, $event)'
					)
						section.card.card_type_filter(data-attr="{{attr.id}}", class="card_collapsed", ng-click="collapseCard($event)", ng-class="{'card__chart' : attr.attrType == 'integer' || attr.attrType == 'float' || attr.attrType == 'boolean' || attr.attrType == 'year' || attr.attrType == 'timestamp' }")
							header.card__header
								.card__head-wrap(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' && attr.attrType != 'year' && attr.attrType != 'timestamp'")
									h2.card__title(dir-elem-ready="onAttrHeaderLoad(attr, $event)") {{::attr.title}}
									span.card__tooltip(ng-if="attr.tooltip"
										uib-tooltip="{{attr.tooltip}}",
										tooltip-placement="right", 
										tooltip-append-to-body="true")

									button.card__action-sort(
										ng-if="isShowSortButton(attr)",
										ng-class="{ 'up': attr.sortConfig && attr.sortConfig.sortType === 'frequency' && attr.sortConfig.sortOrder === 'asc', 'disabled': attr.sortConfig && attr.sortConfig.sortType !== 'frequency' }",
										ng-click="setSortOrder(attr, 'frequency')"
										uib-tooltip="Sort by frequency of occurrence",
										tooltip-placement="right", 
										tooltip-append-to-body="true"
										)
									button.card__action-sort.card__action-sort-alphabet(
										ng-if="isShowSortButton(attr)",
										ng-class="{ 'desc': attr.sortConfig && attr.sortConfig.sortType === 'alphabetical' && attr.sortConfig.sortOrder === 'desc', 'disabled': !attr.sortConfig || (attr.sortConfig && attr.sortConfig.sortType !== 'alphabetical') }", 
										ng-click="setSortOrder(attr, 'alphabetical')"
										uib-tooltip="Sorted alphabetically",
										tooltip-placement="right", 
										tooltip-append-to-body="true"
										)

									.card__action-search
										button(ng-click="searchToggle(attr)") search

									.card__search-box
										input(type='text', ng-model="attr.searchQuery", ng-change="search(attr, $event)")/
										button.close(ng-click="clearSearch(attr); searchToggle(attr);") close
								button.card__action-collapse(ng-click="collapseCard($event)")
									
							.card__body
								.card__content
									dir-attr-renderer(attr-to-render="attr", node-color-str="nodeColorStr", is-node="true", show-filter="ui.enableFilters", disable-filter="attr.disableFilter" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")

						h6.no-margin.text-center.card_histogram.title(
							ng-if="attr.attrType == 'integer' || attr.attrType == 'float' || attr.attrType == 'boolean' || attr.attrType == 'year' || attr.attrType == 'timestamp'",
							ng-click="collapseCardHistogram($event)"
						)
							span {{::attr.title}}
							span(ng-show="attr.principalVal") :&nbsp;{{attr.principalVal}}
							span.card__tooltip.tooltip__histogram(ng-if="attr.tooltip"
									uib-tooltip="{{attr.tooltip}}",
									tooltip-placement="right", 
									tooltip-append-to-body="true")
