.right-panel__tabs.side-menu(style="position:absolute; top: 0;")
  .side-menu__body
    dir-panel-selection
    ul.tabs-menu
      li.tabs-menu__item(
        ng-repeat="tab in rightPanelTabs" ng-click="tab.cmd()"
        ng-class="{'tabs-menu__item_active': tab.panel === panelUI.currentPanelOpen}"
        )

        span.tabs-menu__link(
          class='tabs-menu__link_{{tab.iconClass}}') {{tab.title}}
          span.tabs-menu__badge(ng-if="tab.showSelCount && selNodesCount !== 0") {{selNodesCount}}

    .right-panel__divider
    //- dir-nodes-list(nodes="selInfo.genericSelNodes", links="selInfo.genericSelLinks" selected-groups="selInfo.selectedGroups", label-attr="selInfo.labelAttr" node-color-attr="selInfo.nodeColorAttr" node-color-attr-title="selInfo.nodeColorAttrTitle" panel-mode="selInfo.panelMode" sort-types="selInfo.sortTypes" sort-info="selInfo.sortInfo"  search-query="nodeSearchQuery")

    //- ul.list-unstyled.panel-list
    //-   li.panel-item.list-item.no-hover.nodes-list__selected-info(ng-if="nodes.length > 1")
    //-     .vert-align.list-panel-header.truncate
    //-       span.dark-grey-font.list-panel-header__nodes.truncate {{nodes.length}} {{nodesStatus}}

    //-       span.dark-grey-font.list-panel-header__links.truncate(ng-if="links") {{links.length}} {{linksStatus}}
    //-       span.dark-drey-font(ng-if="!links") ...
        
  .side-menu__tutorial
    ul.right-top-corner

      li.right-top-corner__item(ng-if="isShowTutorial")
        div.tutorial(dir-elem-ready="tutorialCountdown()")
          span Tutorial?
          button.tutorial__next(ng-click="startTutorial()") Next
          button.tutorial__close(ng-click="closeTutorial()") Close
          .countdown
            svg(viewBox="-50 -50 100 100" stroke-width="20")
              circle(r="40")
              circle(r="40" stroke-dasharray="251" stroke-dashoffset="251px")
      li.right-top-corner__item.geoselector__list-item(ng-if="isGeoLayout")
        div.geoselector(ng-click="toggleGeoSelector()")
          .row-data__content {{getGeoLevelTitle() || ''}}
          .button-group__item
            button.button.button_type_play-toolbar(
              ng-class="isGeoSelectorOpen ? 'button_icon_cancel' : 'button_icon_chevron-down'"
              
              uib-tooltip="Geo Level Selector"
              tooltip-append-to-body="true"
              tooltip-placement="right"
          )
          .geoselector__extra-container(ng-if="isGeoSelectorOpen")
            .extra-container__content
              .geoselector__item(ng-repeat="item in geoLevels", ng-attr-id="{{ snap.id }}" ng-click="selectGeoLevel($event, item)", ng-class="{ highlight: item.id == geoLevel.id }" uib-tooltip="{{item.title}}" tooltip-append-to-body="true" tooltip-placement="right")
                h3 {{item.title}}
                h6(ng-if="item.description") {{item.description}}

  .side-menu__footer
    ul.right-corner(ng-if="showButtons")

      li.right-corner__item(ng-if="showFeedback")
        a.feedback(href="{{ feedbackType === 'email' ? 'mailto:' + feedbackLink : feedbackLink }}" target="_blank")
          span.feedback__beta(ng-if="isShowBeta")
          {{feedbackText}}

      li.right-corner__item.right-corner__item_exports(ng-if="displayExportButton")
        div.download-wrap
          span.download Download
          ul.download__box
            li.download__sub-link(ng-click="exportCurrentImage()"
            data-toggle="tooltip"
            uib-tooltip="Export as SVG"
            tooltip-placement="top"
            tooltip-append-to-body="true") Export Image
            li.download__sub-link(ng-click="exportCurrentData()"
            data-toggle="tooltip"
            uib-tooltip="Export as CSV"
            tooltip-placement="top"
            tooltip-append-to-body="true") Export Data
