#diModal
	.modal-header
		.row.vert-align
			.col-xs-4
				h6
					span {{diModalData.dataAvailable ? "Select Attributes" :  (!diModalData.editMode ? "Import Data" : "enrich data")}}
			.col-xs-6.vert-align(ng-if="diModalData.dataAvailable")
				button.header-btn(type="button", ng-class="{'active': diModalData.tabsStatus.nodes}", ng-click="diModalData.openTab('nodes');")
					.vert-align
						i.fa.fa-circle
						span.h7 {{diModalData.tabsInfo.nodesLength}} nodes
				button.header-btn(type="button", ng-class="{'active': diModalData.tabsStatus.links}", ng-if="::diModalData.tabsInfo.hasLinks", ng-click="diModalData.openTab('links');")
					.vert-align
						i.icon-links
						span.h7 {{diModalData.tabsInfo.linksLength}} links
				button.header-btn(type="button", ng-class="{'active': diModalData.tabsStatus.clusters}", ng-if="diModalData.tabsInfo.hasClusters", ng-click="diModalData.openTab('clusters');")
					.vert-align
						i.icon-legend-dots
						span.h7 clusters
			.col-xs-6(ng-if="!diModalData.dataAvailable")
			.col-xs-3.vert-align.right
				button.header-btn(ng-if="!mapProcessor.disableBtn" ng-click="mapProcessor.createMap()" uib-tooltip="{{currDataSrc.tooltip}}" tooltip-placement="left")
					.vert-align(ng-if="diModalData.editMode")
						i.fa.fa-code-fork
						span.h7 {{currDataSrc.btnEditText}}
					.vert-align(ng-if="!diModalData.editMode")
						i.icon-project
						span.h7 {{currDataSrc.btnCreateText}}
				button.close-btn(ng-if="diModalData.editMode" type="button", ng-click="closeModal()")
					span.icon &times;
				button.close-btn(ng-if="!diModalData.editMode" type="button", href="/user-projects" ng-click="backToProjects()")
					span.icon &times;

	.modal-body.set-height
		.container-fluid
			.row
				.col-xs-2.border-right(ng-if="!diModalData.dataAvailable")
					.scroll-list
						div(ng-repeat="sourceGroup in dataSources")
							button.menu-item(ng-class="{'active':source.title == diModalData.subviewTitle}" ng-repeat="source in sourceGroup.sources", ng-click="diModalData.activateTab(source, sourceGroup.type);")
								.row.vert-align
									.col-xs-1
										i(ng-class="source.icon")
									.col-xs-11
										.h6 {{source.title}}
				.col-xs-10.scroll-container(ng-if="mapProcessor.status.failure")
					.row
						.col-xs-8 {{::mapProcessor.status.errorType}}
						.col-xs-8 {{::mapProcessor.status.errorMsg}}
				div(ng-if="!mapProcessor.status.failure", ng-class="{'col-xs-10 scroll-container': !diModalData.dataAvailable, 'col-xs-12': diModalData.dataAvailable}")
					.primary-container(ng-if="['file', 'url', 'googlespreadsheet'].indexOf(diModalData.subview) > -1", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/data_sheets/spreadsheets.html" ')

					div(ng-if="diModalData.subview === 'linkedin'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/linkedin/linkedIn.html" ')

					div
						.row(ng-if="diModalData.subview === 'importio'")
							.col-xs-12(ng-controller="ImportIOCtrl")
								h3 ImportIO
								.row
									.col-xs-12
										h4 URL to Import
										input.form-control(type="text", ng-model="importioUrl", placeholder ="Complete url, with api key" dir-select-all)

						.row(ng-if="diModalData.subview === 'customurl'")
							.col-xs-12 Custom URL

						.row(ng-if="diModalData.subview === 'survey'")
							.col-xs-12 Survey

						.row(ng-if="diModalData.subview === 'newsapi'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/news_api/alchemyNews.html" ')
						.row(ng-if="diModalData.subview === 'companyapi'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/elastic_search/elasticsearch.html" ')

						.row(ng-if="diModalData.subview === 'textanalysis'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/text_analysis/alchemy.html" ')
						.row(ng-if="diModalData.subview === 'script'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/scripted_attrs/scriptAttrib.html" ')
						.row(ng-if="diModalData.subview === 'commonops'", ng-include=' "#{server_prefix}#{view_path}/components/project/dataIngestion/common_ops/commonops.html" ')

						.row
							.divider
							.divider
