dd.section-info__value(ng-repeat="val in section.values | limitTo : setLimit(section.isCollapsed)", ng-class="{'tag-list__item': val.isTag}")
  .cat-list.tag-cloud(ng-if="val.isTag")
    .cat-item(
      dir-elem-ready="onTagLoad(val, $event)"
      style="cursor:pointer", 
      ng-mouseover="onSectionHover(section, val.value, $event)", 
      ng-mouseleave="onSectionLeave()", 
      ng-click="onSectionSelect(section, val.value)",
      uib-tooltip="{{val.popupText}}", 
      tooltip-placement="left", 
      tooltip-append-to-body="true")
      .vert-align.cat-text-container
        div.cat-text.no-margin.truncate
          {{val.value}}
  span(ng-if="!val.isTag") {{val.value}}

dd.section-info__value(ng-repeat="val in section.values.slice(limitNodes)", ng-if="section.isCollapsed && isShow" ng-class="{'tag-list__item': val.isTag}")
  .cat-list.tag-cloud(ng-if="val.isTag")
    .cat-item(
      dir-elem-ready="onTagLoad(val, $event)"
      style="cursor:pointer", 
      ng-mouseover="onSectionHover(section, val.value, $event)", 
      ng-mouseleave="onSectionLeave()", 
      ng-click="onSectionSelect(section, val.value)",
      uib-tooltip="{{val.popupText}}", 
      tooltip-placement="left", 
      tooltip-append-to-body="true")
      .vert-align.cat-text-container
        div.cat-text.no-margin.truncate
          {{val.value}}
  span(ng-if="!val.isTag") {{val.value}}
.section-info__controls
  button.section-info__more-btn(ng-click="showMore()", ng-if="section.isCollapsed") Show {{ isShow ? 'less' : 'more'}}
