.focus-rigth-panel(ng-click="cancelOverlay()" ng-class="{'active': beginOverlayRightPanel}")
  .node-rigth-panel-overlay
    .animate-node-right
      .animate-fade.node-rigth-panel-container(ng-if="mapprSettings.nodeFocusRenderTemplate == 'node-right-panel'" style="padding-top:{{scrollPaddingTop}}px" dir-kill-tooltip-on-scroll)
        .node-rigth-panel.node-right-panel(ng-click="$event.stopPropagation();")
          div.section-wrap(ng-if="nodeRightInfo")
            section.section.section--head(ng-if="nodeRightInfo.section1.length")
              .section__header
                .nameContainer.node-selected(ng-repeat="info in nodeRightInfo.section1" ng-if="info.type == 'name'")
                  .node-selected__img(
                    ng-style="getImgStyle(info)"
                  )
                  .node-selected__info
                    h6.node-selected__title {{info.name}}
                    .node-selected__desc {{info.description}}
              .section__social
                .section__icons.icons
                  .section__icons-icon(ng-repeat="link in nodeRightInfo.section1" ng-if="link.type == 'link'")
                    a(href="{{link.value}}" target="_blank" uib-tooltip="Go to {{link.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true" ng-class="link.class")
                      img(alt="{{link.value}}" ng-src="{{link.icon}}")
                  .section__icons-icon(ng-repeat="email in nodeRightInfo.section1" ng-if="email.type == 'email'")
                    a(href="mailto:{{email.value}}" target="_blank" uib-tooltip="{{email.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true" ng-class="email.class")
                      img(alt="{{email.value}}" ng-src="{{email.icon}}")     

            section.section.section_tabs.section_tab-1(ng-if="nodeRightInfo.section2.length", dir-elem-ready="onSection2Load(null, $event)")
              .tabContainer.tabContainer_pt
                .tabVisible
                  .tab.less(role="button", ng-if="section2Less", ng-click="scrollParentLeft($event)")
                  .tab(ng-repeat="tab in nodeRightInfo.section2", dir-elem-ready="onTabLoad(tab, $event)")
                    button(
                      ng-class="{active: sectionActive2==$index}",
                      ng-click="activeTabs2($index)"
                      uib-tooltip="{{tab.headerPopupText}}", 
                      tooltip-placement="bottom", 
                      tooltip-append-to-body="true"
                    )
                      span {{tab.key}}

                  .tab.more(role="button", ng-if="section2More", ng-click="scrollParentRight($event)")

              .section__content
                #description.tabcontent(ng-repeat="tab in nodeRightInfo.section2", ng-if="sectionActive2==$index",style="max-width:100%;")
                
                  iframe(ng-if="tab.value.includes('http') && !tab.text" ng-src="{{ tab.value | trustUrl }}", id='iframe001', width="100%", height="200px" frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                  a.section__more(href="#", ng-if="tab.text && tab.text.couldExpand && tab.text.isExpanded", ng-click="toggleText(tab, $event)") &larr; Less
                  p(ng-if="!tab.isHtml && !tab.hasLinks") {{tab.text.isExpanded ? tab.value : (tab.text.shortValue + '...')}}
                  p(ng-if="!tab.isHtml && tab.hasLinks" ng-bind-html="parseLinks(tab)")
                  div(ng-if="tab.isHtml" class="tab__description" ng-class="{'tab__description--expanded': tab.text.isExpanded }" ng-bind-html="tab.value")
                  a.section__more(href="#", ng-if="tab.text && tab.text.couldExpand && !tab.text.isExpanded", ng-click="toggleText(tab, $event)") Read More &rarr;

            section.section.section_tabs.section_tab-2(ng-if="nodeRightInfo.sectionTags.length", dir-elem-ready="onSection3Load(null, $event)")
              .tabContainer.tabContainer_pt
                .tabVisible
                  .tab.less(role="button", ng-if="section3Less", ng-click="scrollParentLeft($event)")
                  .tab(ng-repeat="tab in nodeRightInfo.sectionTags", dir-elem-ready="onTabLoad(tab, $event)")
                    button(
                      ng-class="{active: sectionActive3==$index}", 
                      ng-click="activeTabs3($index)",
                      style="max-width: 110px",
                      uib-tooltip="{{tab.headerPopupText}}", 
                      tooltip-placement="bottom", 
                      tooltip-append-to-body="true")
                        span {{tab.key}}

                  .tab.more(role="button", ng-if="section3More", ng-click="scrollParentRight($event)")
              .section__content
                #tedtags.tabcontent.tag-list(
                  ng-repeat="sections in nodeRightInfo.sectionTags"
                  ng-if="sectionActive3==$index"
                )
                  dir-tag-list-right-panel.tag-list-wrap(section="sections")
            section.section.section_compact(ng-if="nodeRightInfo.sectionShortTags.length")
              .section__content.section__info.section__short-strings
                dl.section-info(ng-repeat="number in nodeRightInfo.sectionShortTags" ng-class="{'section-info--wide': number.isWide, 'full-width': isFullWidth($index)}")
                  dt.section-info__label(
                    dir-elem-ready="onTitleLoad(number, $event)",
                    uib-tooltip="{{number.popupText}}", 
                    tooltip-placement="left" 
                    tooltip-append-to-body="true"
                  )
                    div.label-text.truncate {{number.key}}
                
                  dir-attr-short-tags(section="number")
                
                dd.section-info__value.section-info__value-wrap(ng-repeat="val in number.values", ng-class="{'tag-list__item': val.isTag}")
                  .cat-list.tag-cloud(ng-if="val.isTag")
                    .cat-item(
                      dir-elem-ready="onTagLoad(val, $event)"
                      style="cursor:pointer", 
                      ng-mouseover="onSectionHover(number, val.value, $event)", 
                      ng-mouseleave="onSectionLeave()", 
                      ng-click="onSectionSelect(number, val.value)",
                      uib-tooltip="{{val.popupText}}", 
                      tooltip-placement="left", 
                      tooltip-append-to-body="true")
                      .vert-align.cat-text-container
                        div.cat-text.no-margin.truncate
                          {{val.value}}
                  span.section-info__value(ng-if="!val.isTag") {{val.value}}

            section.section.section_compact
              .section__content.section__info(ng-if="nodeRightInfo.section4.length")
                dl#numberAndDates.section-info(
                  ng-repeat="number in nodeRightInfo.section4"
                  style="width: {{Section4Largest}}px"
                )
                  dt.section-info__label(
                    dir-elem-ready="onTitleLoad(number, $event)",
                    uib-tooltip="{{number.popupText}}", 
                    tooltip-placement="left" 
                    tooltip-append-to-body="true"
                  )
                    dt.section-info__label(
                      dir-elem-ready="onTitleLoad(number, $event)",
                      uib-tooltip="{{number.popupText}}", 
                      tooltip-placement="left" 
                      tooltip-append-to-body="true"
                    )
                      div.label-text.truncate {{number.key}}

                    dd.section-info__value {{number.value}}
              .wrap(ng-if="isShowNeighbours && ((neighs.in && neighs.in.length) || (neighs.out && neighs.out.length))")
                section.section.section_tabs(ng-if="directLink")
                  .tabContainer.tabContainer_pt-15(ng-class="{'tabContainer_without-title' : !(ongoingTitle && incomingTitle)}")
                    .tabVisible
                      .tab(ng-if="neighs.out && neighs.out.length")
                        button(ng-class="{active: sectionNeigh=='out'}", ng-click="activeNeigh('out')") 
                          span(ng-if="neighs.in && neighs.in.length") {{ongoingTitle}} 
                          span {{commonTitle}}
                      .tab(ng-if="neighs.in && neighs.in.length")
                        button(ng-class="{active: sectionNeigh=='in'}", ng-click="activeNeigh('in')") 
                          span(ng-if="neighs.out && neighs.out.length") {{incomingTitle}} 
                          span {{commonTitle}}

                  .section__content
                    #neighborsOut.tabcontent.neighborsOut(ng-if="sectionNeigh=='out'")
                      .user(ng-repeat="link in neighs.out", style="cursor:pointer;", ng-mouseover="onHover(link)", ng-mouseleave="onHoverOut()", ng-click="onNeighborClick(link)")
                          .img-user
                              div.img(
                                ng-if="!link.imageShow || !link.image"
                                style="background: {{link.colorStr}}; border-color: {{darken(link.color)}}"
                              )
                              div.img(
                                ng-if="link.imageShow && link.image"
                                ng-style="{ 'background-image': 'url(' + link.image + ')' }"
                                style="border-color: {{darken(link.color)}}"
                              )
                          .info-user
                              p(uib-tooltip="{{link.name}}" tooltip-placement="top")
                                  h6 {{link.name}}
                              p {{link.description}}            
                    #neighborsIn.tabcontent(ng-if="sectionNeigh=='in'")
                      .user(ng-repeat="link in neighs.in", style="cursor:pointer;", ng-mouseover="onHover(link)", ng-mouseleave="onHoverOut()", ng-click="onNeighborClick(link)")
                          .img-user
                              div.img(
                                ng-if="!link.imageShow || !link.image"
                                style="background: {{link.colorStr}}; border-color: {{darken(link.color)}}"
                              )
                              div.img(
                                ng-if="link.imageShow && link.image"
                                ng-style="{ 'background-image': 'url(' + link.image + ')' }"
                                style="border-color: {{darken(link.color)}}"
                              )
                          .info-user
                              p(uib-tooltip="{{link.name}}" tooltip-placement="top")
                                  h6 {{link.name}}
                              p {{link.description}}
                
                section.section.section_tabs(ng-if="!directLink")
                  .tabContainer.tabContainer_pt-15
                    .tabVisible
                      .tab
                        button.active
                          span {{commonTitle}}
                  .section__content
                    .tabcontent
                      .user(ng-repeat="link in allNeighs", style="cursor:pointer;", ng-mouseover="onHover(link)", ng-mouseleave="onHoverOut()", ng-click="onNeighborClick(link)")
                          .img-user
                              div.img(
                                ng-if="!link.imageShow || !link.image"
                                style="background: {{link.colorStr}}; border-color: {{darken(link.color)}}"
                              )
                              div.img(
                                ng-if="link.imageShow && link.image"
                                ng-style="{ 'background-image': 'url(' + link.image + ')' }"
                                style="border-color: {{darken(link.color)}}"
                              )
                          .info-user
                              p(uib-tooltip="{{link.name}}" tooltip-placement="top")
                                  h6 {{link.name}}
                              p {{link.description}}            
          .project-info(ng-if="!nodeRightInfo")
            .section__header
              h3.section__title.section__title--project {{drawerTitle}}
              .sponsors(ng-if="sponsorsRow1 && sponsorsRow1.length")
                span.sponsors__title {{sponsorsTxt}}
                div 
                  ul.sponsors__list
                    li.sponsors__item(ng-repeat="item in sponsorsRow1" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
                      a.sponsors__link(ng-if="item.linkUrl" href="{{item.linkUrl}}", alt="{{item.linkTitle}}" target="_blank" rel="nofollow")
                        img.sponsors__img(ng-src="{{item.iconUrl}}")
                      img.sponsors__img(ng-src="{{item.iconUrl}}" ng-if="!item.linkUrl" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
                  ul.sponsors__list(ng-if="sponsorsRow2.length && sponsorsRow2.length <= 8")
                    li.sponsors__item(ng-repeat="item in sponsorsRow2" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
                      a.sponsors__link(ng-if="item.linkUrl" href="{{item.linkUrl}}", alt="{{item.linkTitle}}" target="_blank" rel="nofollow")
                        img.sponsors__img(ng-src="{{item.iconUrl}}")
                      img.sponsors__img(ng-src="{{item.iconUrl}}" ng-if="!item.linkUrl" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
                  .sponsors__list-carousel(ng-if="sponsorsRow2.length && sponsorsRow2.length > 8")
                    .sponsors__list-carousel-controls
                      button.sponsors__list-carousel-btn-left(ng-click="handleCarousel('left')" ng-disabled="!carouselIndex")
                      button.sponsors__list-carousel-btn-right(ng-click="handleCarousel('right')" ng-disabled="carouselIndex === carouselMax")
                    .sponsors__list-carousel-box
                      ul.sponsors__list.sponsors__list--mbn(ng-style="getCarouselStyle()")
                        li.sponsors__item(ng-repeat="item in sponsorsRow2" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
                          a.sponsors__link(ng-if="item.linkUrl" href="{{item.linkUrl}}", alt="{{item.linkTitle}}" target="_blank" rel="nofollow")
                            img.sponsors__img(ng-src="{{item.iconUrl}}")
                          img.sponsors__img(ng-src="{{item.iconUrl}}" ng-if="!item.linkUrl" uib-tooltip="{{item.linkTitle}}" tooltip-placement="bottom")
            .project-info__content
              div(ng-bind-html="projectInfoTitle | trustHtml")
              div(ng-bind-html="projectInfoDesc | trustHtml")
            .project-info__footer-wrap
              .project-info__footer Powered by
                a.project-info__footer-link(href="{{footerLink}}" target="_blank" rel="nofollow")
                  img.project-info__footer-img(ng-src="{{footerLogo}}")
                  {{footerName}}
  dir-focus-node(ng-show="false" ng-if="showFocusNode && mapprSettings.nodeFocusRenderTemplate != 'content' && nodeRightInfo" node="focusNode" img-attr="nodeImageAttr" start="nodeStartData" end="nodeEndData" duration="175" ease="" finish="finishAnimation()")
  dir-focus-node(ng-show="false" ng-if="showNeighborNode" node="neighborNode" img-attr="nodeImageAttr" start="neighborNodeStartData" end="neighborNodeEndData" duration="175" ease="" finish="finishNeighborAnimation()")
