doctype html
html(lang='en', data-ng-app='hcApp' style="background: #{backgroundColor}" )
	head
		meta(charset='utf-8')
		link(rel="icon"  href="")
		meta(name="viewport", content="initial-scale=.7, user-scalable=no, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="fb:app_id", content="1389717224632761")
		meta(name="twitter:card", content="summary")
		meta(property="og:image", content="#{snapshotImg}")
		meta(property="og:title", content="openmappr | network exploration tool")
		meta(property="og:url", content="")
		meta(property="og:description", content="#{playerTitle}")
		meta(name="robots", content="noindex")
		title openmappr | #{playerTitle}
		meta(name="description", content="#{playerTitle}")
		link(rel="stylesheet", href="#{player_prefix_index_source}/css/mappr-icons/style.css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet")
		//-link(href='//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css', rel="stylesheet")

		// @if compiled = false
		//-<!-- build:css #{env}/css/vendor.css -->
		// bower:css
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/1.1.1/angular-wizard.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css')
		// endbower
		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		link(rel='stylesheet', href='#{player_prefix_index_source}/css/vendor.css')
		// @endif

		//- futura font
		//- script(src="//use.typekit.net/lew5cwh.js")
		//- script.
		//- 	try{Typekit.load({ async: true });}catch(e){}
		script.
			window.MP_APP = {};
			window.DATA_PATH = '#{playerDataPath}';

		// @if production=true
		//- link(rel='stylesheet', href='#{player_prefix_index_source}/css/player.min.css')
		script.
			(function() {
				var mapprCssUrl = '#{player_prefix_index_source}/css/player.min.css';
				loadCSSCors(mapprCssUrl);

				function loadCSSCors(stylesheet_uri) {
					var _xhr = window.XMLHttpRequest;
					var has_cred = false;
					try {
						has_cred = _xhr && ('withCredentials' in (new _xhr()));
					}
					catch(e) {}
					if (!has_cred) {
						console.error('CORS not supported');
						return;
					}
					var xhr = new _xhr();
					xhr.open('GET', stylesheet_uri);
					xhr.onload = function() {
						xhr.onload = xhr.onerror = null;
						if (xhr.status < 200 || xhr.status >=300) {
						console.error('style failed to load: ' + stylesheet_uri)
						}
						else {
							var style_tag = document.createElement('style');
							style_tag.appendChild(document.createTextNode(xhr.responseText));
							document.head.appendChild(style_tag);
						}
					};
					xhr.onerror = function() {
						xhr.onload = xhr.onerror = null;
						console.error('XHR CORS CSS fail:' + styleURI);
					};
					xhr.send();
				}
			}());
		script(src="//dmc1acwvwny3.cloudfront.net/atatus.js")
		script.
			(function() {
				var config = {
					sourceMap: true,
					enableAjaxErrors: true,
					enableAjaxAbort: false,
					ignoreErrors: [],
					allowedDomains: ['app.mappr.io', 'staging.mappr.io']
				};
				var staging_key = '',
					app_key = '',
					host, key;
				if(document.location && document.location.hostname) {
					host = document.location.hostname.split('.')[0];
				}
				if(host == 'staging') { key = staging_key; }
				else if(host == 'app') { key = app_key; }
				window.atatus.config(key, config).install();
			}());
		// @endif
		// @if production=false
		link(rel='stylesheet', href='#{player_prefix_index_source}/css/player.debug.css')
		// @endif

	body#app.nav-min(data-custom-background, data-off-canvas-nav style="background: #{backgroundColor}" class="#{colorTheme}-theme side-menu-compressed")
		
		// @if includeAnalytics=true
		script(async src="https://www.googletagmanager.com/gtag/js?id=#{gtag_id}")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', '#{gtag_id}');
		// @endif
		div
			div.view-container
				div#content(style="background: #{backgroundColor}" data-ng-view='ng-view', data-close-min-nav='data-close-min-nav')

		div#svg-renderarea.hidden
		div(ng-include=" '#{player_prefix_index}/components/project/distributions/renderers/renderTemplates.html' ")

		script(src='https://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js')
		script(src='https://code.jquery.com/jquery-2.1.0.min.js')
		script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-cookies.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-sanitize.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-route.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-touch.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.2/angular-simple-logger.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js')
		script(src='https://cdn.jsdelivr.net/npm/angular-vs-repeat@1.1.7/src/angular-vs-repeat.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.1.2/ng-infinite-scroll.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/re-tree/0.0.2/re-tree.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-slider/0.1.2/slider.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ng-device-detector/1.1.1/ng-device-detector.min.js')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twix.js/0.7.2/twix.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.4/angular.audio.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js')
		script(src='https://cdn.jsdelivr.net/npm/angular-intro.js@3.4.0/src/deprecated.angular-intro.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
			
	  // @if compiled = false
		//-<!-- build:js #{env}/js/player/vendor.js -->

		script(src="../../libs/isMobile.min.js")
		script(src='../../libs/jQuery.succinct.min.js')
		
		script(src="../../libs/mixpanel_lib.js")
		script(src="../../libs/sigma.js")
		script(src="../../libs/blob.js")
		script(src="../../libs/filesaver.js")
		script(src="../../libs/lodash-extended.js")
		script(src="../../libs/reqAnimFramePolyfill.js")
		script(src="../../libs/jquery-extns/jquery.mousewheel.js")
		script(src="../../libs/jquery-extns/jquery.animateRotate.js")
		script(src="../../libs/rainbowvis.js")
		script(src="../../libs/d3Pie.min.js")
		script(src="../../libs/d3.color.min.js")
		script(src="../../libs/es6Shims.js")
		script(src="../../libs/fuzzysort.js")
		script(src="../../libs/removeAccents.js")
		script(src="../../libs/matchSorter.js")

		//licenses
		script(src="../../libs/licenseList.js")


		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		script(src='#{player_prefix_index_source}/js/player/vendor.js')
		// @endif

		script(src="#{player_prefix_index_source}/js/player.min.js")
