.legend-container.flex-transclude.width-100(ng-mouseleave="rightPanelExited();")
	.flex-vert-container.width-100.panel-scroll(style="overflow-x: hidden")
		.colored-by__container
			.row.vert-align.main
				.col-xs-12
					h6.title.text-uppercase.pointable-cursor.vert-align.legend-title.legend-title--bottom
							.title-space.width-100
								h6.title.text-uppercase.truncate.vert-align
									.title-space
										span.inline.nowrap
											span(ng-if="!isShowClusteredBy || dataGroupsInfo.colorNodesBy.id != dataGroupsInfo.clusterNodesBy.id") Colored by:&nbsp;&nbsp;
											span(ng-if="isShowClusteredBy && dataGroupsInfo.colorNodesBy.id == dataGroupsInfo.clusterNodesBy.id") Colored by, Clustered by:&nbsp;&nbsp;
											span(ng-if="!nodeColorAttrs || nodeColorAttrs.length < 2") {{dataGroupsInfo.colorNodesBy.title}}
											span.card__tooltip.tooltip__colored-by(ng-if="(!nodeColorAttrs || nodeColorAttrs.length < 2) && dataGroupsInfo.colorNodesBy.tooltip"
												uib-tooltip="{{dataGroupsInfo.colorNodesBy.tooltip}}",
												tooltip-placement="right", 
												tooltip-append-to-body="true")
											span(ng-if="nodeColorAttrs && nodeColorAttrs.length > 1" uib-dropdown dropdown-append-to-body)
												span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;")
													span.text-link {{dataGroupsInfo.colorNodesBy.title}}
														i.fa.fa-angle-down
												.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
													.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
													.uib-dropdown-flex-content(style="margin-left: 25px;")
														.uib-dropdown-triangle
														.uib-dropdown-flex.center
															ul.dd-list.list-unstyled(style="max-height:50vh;overflow-y:auto;")
																li.row.vert-align.pointable-cursor(ng-repeat="item in nodeColorAttrs", ng-click="colorByAttrUpdate(item)", style="width: auto")
																	.col-xs-12
																		h6.no-margin {{item.title}}

				.btns(ng-if="mapprSettings.edgeColorStrat == 'select' || mapprSettings.edgeColorStrat == 'attr'")
					.square-btn.small-btn(ng-if="!ui.showingLinks" uib-tooltip="View Links Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = true;")
						.link-mask
							.link-circle
					.square-btn.small-btn.vert-align(ng-if="ui.showingLinks" uib-tooltip="View Nodes Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = false;")
						i.icon-legend-dots
			.panel-list
				dir-attr-renderer(render-to-type="getRenderType(dataGroupsInfo.colorNodesBy)" attr-to-render="dataGroupsInfo.colorNodesBy", node-color-str="nodeColorStr", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")
		.list-content.flex-fill
			///
			/// Node Clustered by Panel
			///
			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat != 'select' && mapprSettings.nodeColorStrat != 'fixed'", dir-kill-tooltip-on-scroll)
				.colored-by__container
					//- .header(ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false; panelUI.summaryPanelHover = true;" ng-mouseleave="showLegendBtns = false; panelUI.summaryPanelHover = false;" ng-class="{'active': panelUI.summaryPanelOpen}")
					.header(ng-if="isShowClusteredBy" ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false;" ng-mouseleave="showLegendBtns = false;")
						.row.vert-align.main(ng-if="dataGroupsInfo.colorNodesBy.id != dataGroupsInfo.clusterNodesBy.id")
							.col-xs-12
								h6.title.text-uppercase.vert-align(style="padding-top: 0")
										.title-space.width-100
											h6.title.text-uppercase.truncate.vert-align(style="padding-top: 0")
												.title-space
													span.inline.nowrap
														span Clustered by:&nbsp;&nbsp;
														span {{dataGroupsInfo.clusterNodesBy.title}}
														span.card__tooltip.tooltip__colored-by(ng-if="dataGroupsInfo.clusterNodesBy.tooltip"
															uib-tooltip="{{dataGroupsInfo.clusterNodesBy.tooltip}}",
															tooltip-placement="right", 
															tooltip-append-to-body="true")											
																	
					.panel-list(ng-class="{'highlighted': ui.highlightingNodes}", ng-if="isShowClusteredBy && dataGroupsInfo.colorNodesBy.id != dataGroupsInfo.clusterNodesBy.id")
						.flex
							dir-attr-renderer(render-to-type="'horizontal-bars'", attr-to-render="dataGroupsInfo.clusterNodesBy", node-color-str="dataGroupsInfo.colorNodesBy.id == dataGroupsInfo.clusterNodesBy.id ? nodeColorStr : ''", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")
				.colored-by__container(ng-if="dataGroupsInfo.subclusterNodesBy")
					.header(ng-if="isShowClusteredBy" ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false;" ng-mouseleave="showLegendBtns = false;")
						.row.vert-align.main
							.col-xs-12
								h6.title.text-uppercase.vert-align(style="padding-top: 0")
										.title-space.width-100
											h6.title.text-uppercase.truncate.vert-align(style="padding-top: 0")
												.title-space
													span.inline.nowrap
														span Subclustered by:&nbsp;&nbsp;
														span {{dataGroupsInfo.subclusterNodesBy.title}}
														span.card__tooltip.tooltip__colored-by(ng-if="dataGroupsInfo.subclusterNodesBy.tooltip"
															uib-tooltip="{{dataGroupsInfo.subclusterNodesBy.tooltip}}",
															tooltip-placement="right", 
															tooltip-append-to-body="true")											
																	
					.panel-list(ng-class="{'highlighted': ui.highlightingNodes}", ng-if="isShowClusteredBy && dataGroupsInfo.colorNodesBy.id != dataGroupsInfo.subclusterNodesBy.id")
						.flex
							dir-attr-renderer(render-to-type="'horizontal-bars'", attr-to-render="dataGroupsInfo.subclusterNodesBy", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")
				.row.vert-align.main.main--sized-by
					.col-xs-12
						h6.title.text-uppercase.vert-align.legend-title.legend-title--bottom
							span Sized by:&nbsp;&nbsp;
								span(ng-if="nodeSizeAttrs && nodeSizeAttrs.length < 2") {{vm.nodeSizeAttr.title}}
								span(ng-if="nodeSizeAttrs && nodeSizeAttrs.length > 1" uib-dropdown dropdown-append-to-body)
									span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;")
										span.text-link {{vm.nodeSizeAttr.title}}
											i.fa.fa-angle-down
									.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
										.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
										.uib-dropdown-flex-content(style="margin-left: 25px;")
											.uib-dropdown-triangle
											.uib-dropdown-flex.center
												ul.dd-list.list-unstyled(style="max-height:50vh;overflow-y:auto;")
													li.row.vert-align.pointable-cursor(ng-repeat="item in nodeSizeAttrs", ng-click="sizeByAttrUpdate(item)", style="width: auto")
														.col-xs-12
															h6.no-margin {{item.title}}

						.filter-list__item(
							ng-class="{'attr-hidden':!vm.nodeSizeAttr.visible, 'first': ($index == 1), 'chart-first-item': vm.nodeSizeAttr.isFirstChart, 'tags-first-item': vm.nodeSizeAttr.isFirstTag}",
						)
							section.card.card_type_filter(data-attr="{{vm.nodeSizeAttr.id}}")
								.card__body
									.card__content(ng-repeat="attrItem in [vm.nodeSizeAttr]")
										dir-attr-renderer(attr-to-render="attrItem", noe-color-str="nodeColorStr", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia")
					//- .col-xs-4
					//- 	span
					//- 		button.square-btn.small-btn.panel-btn(type="button", ng-click="clearSelections();") Reset
				.color-box__description-wrap(ng-if="hasSnapshotDescription()")
					.color-box__description-title Snapshot Description
					.color-box__description(ng-if="getSelectedSnapshot().length")
						div(ng-bind-html="getSelectedSnapshot()[0]")
						.color-box__description-hidden(ng-bind-html="getSelectedSnapshot()[1]", ng-if="isShowMoreDesc")
						.color-box__description-btn-wrap
							button.color-box__description-btn(ng-click="isShowMoreDesc = !isShowMoreDesc") {{isShowMoreDesc ? 'Less' : 'More'}}
					div
					.pointable-cursor(ng-show="dataGroupVMs.length > ui.dataGroupsViewCount", ng-click='loadMoreDataGroups(); $event.stopPropagation();')
						.h6
							a.col-xs-12.text-right.pointable-cursor.text-link.no-underline
								em more&hellip;
							.clearfix

			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat == 'select'", dir-kill-tooltip-on-scroll)
				.panel-list
					.panel-item.row.vert-align
						.col-xs-2.vert-align
							i.fa-1-3x.icon-legend-dots(style="color:{{mapprSettings.nodeColorDefaultValue}};")
						.col-xs-10
							h6.less-gutter All Nodes
			///
			/// Edge Color Panel
			///
			.panel-scroll(ng-if="ui.showingLinks && mapprSettings.edgeColorStrat == 'attr'", dir-kill-tooltip-on-scroll)
				.panel-list(ng-if="!isEdgeColorNumeric" ng-class="{'highlighted': ui.highlightingNodes}")
					.panel-item.pointable-cursor(ng-repeat="l in dataGroupLinkVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true", ng-click="selectEdgesByAttrib(l.name, $event)")
						.row.flex-container()
							.col-xs-1.flex-fill
								.legend-icon
									.link-mask
										.link-circle(ng-style="{'border-color': l.colorval}")
							.col-xs-2
								h6.pull-right.panel-number {{l.num}}
							.col-xs-10
								h6.less-gutter {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
				.panel-list(ng-if="isEdgeColorNumeric")
					.panel-item.row.vert-align.pointable-cursor(ng-repeat="l in dataGroupVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", ng-click='hoverNodesByAttrib(undefined, $event); selectNodesByAttrib(l.num, $event)', ng-mouseenter='hoverNodesByAttrib(l.num, $event, 700)', ng-mouseleave='hoverNodesByAttrib(undefined, $event)', uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true")
						.col-xs-2
							.legend-icon
								.link-mask
									//l.color needs to return border color
									.link-circle(ng-style='l.color')
						.col-xs-10
							h6.less-gutter {{l.num}} {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
