doctype html
html(lang='en', data-ng-app='hcApp' style="background: #{backgroundColor}" )
	head
		meta(charset='utf-8')
		link(rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/mappr-misc/icons/vdat-blue-dot-logo.png")
		meta(name="viewport", content="initial-scale=.7, user-scalable=no, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="fb:app_id", content="1389717224632761")
		meta(property="og:image", content="#{snapshotImg}")
		meta(property="og:title", content="openmappr | network exploration tool")
		meta(property="og:description", content="#{playerTitle}")
		meta(name="robots", content="noindex")
		title openmappr | #{playerTitle}
		meta(name="description", content="#{playerTitle}")
		link(rel="stylesheet", href="#{player_prefix_index_source}/css/mappr-icons/style.css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet")
		//-link(href='//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css', rel="stylesheet")

		// @if compiled = false
		//-<!-- build:css #{env}/css/vendor.css -->
		// bower:css
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/1.1.1/angular-wizard.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css')
		// endbower
		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		link(rel='stylesheet', href='#{player_prefix_index_source}/css/vendor.css')
		// @endif

		//- futura font
		//- script(src="//use.typekit.net/lew5cwh.js")
		//- script.
		//- 	try{Typekit.load({ async: true });}catch(e){}
		script.
			window.MP_APP = {};
			window.DATA_PATH = '#{playerDataPath}';

		// @if production=true
		//- link(rel='stylesheet', href='#{player_prefix_index_source}/css/player.min.css')
		script.
			(function() {
				var mapprCssUrl = '#{player_prefix_index_source}/css/player.min.css';
				loadCSSCors(mapprCssUrl);

				function loadCSSCors(stylesheet_uri) {
					var _xhr = window.XMLHttpRequest;
					var has_cred = false;
					try {
						has_cred = _xhr && ('withCredentials' in (new _xhr()));
					}
					catch(e) {}
					if (!has_cred) {
						console.error('CORS not supported');
						return;
					}
					var xhr = new _xhr();
					xhr.open('GET', stylesheet_uri);
					xhr.onload = function() {
						xhr.onload = xhr.onerror = null;
						if (xhr.status < 200 || xhr.status >=300) {
						console.error('style failed to load: ' + stylesheet_uri)
						}
						else {
							var style_tag = document.createElement('style');
							style_tag.appendChild(document.createTextNode(xhr.responseText));
							document.head.appendChild(style_tag);
						}
					};
					xhr.onerror = function() {
						xhr.onload = xhr.onerror = null;
						console.error('XHR CORS CSS fail:' + styleURI);
					};
					xhr.send();
				}
			}());
		script(src="//dmc1acwvwny3.cloudfront.net/atatus.js")
		script.
			(function() {
				var config = {
					sourceMap: true,
					enableAjaxErrors: true,
					enableAjaxAbort: false,
					ignoreErrors: [],
					allowedDomains: ['app.mappr.io', 'staging.mappr.io']
				};
				var staging_key = '',
					app_key = '',
					host, key;
				if(document.location && document.location.hostname) {
					host = document.location.hostname.split('.')[0];
				}
				if(host == 'staging') { key = staging_key; }
				else if(host == 'app') { key = app_key; }
				window.atatus.config(key, config).install();
			}());
		// @endif
		// @if production=false
		link(rel='stylesheet', href='#{player_prefix_index_source}/css/player.debug.css')
		// @endif

		//- start Mixpanel
		script.
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
			for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
		//- end Mixpanel

	body#app.nav-min(data-custom-background, data-off-canvas-nav style="background: #{backgroundColor}" class="#{colorTheme}-theme side-menu-compressed")
		div
			div.view-container(ng-init="playerInfo = #{playerLoadInfo}")
				div#content(style="background: #{backgroundColor}" data-ng-view='ng-view', data-close-min-nav='data-close-min-nav')

		div#svg-renderarea.hidden
		div(ng-include=" '#{player_prefix_index}/components/project/distributions/renderers/renderTemplates.html' ")

		script(src='https://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js')
		script(src='https://code.jquery.com/jquery-2.1.0.min.js')
		script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-resource.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-cookies.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-sanitize.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-route.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-animate.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-touch.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.2/angular-simple-logger.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js')
		script(src='https://cdn.jsdelivr.net/npm/angular-vs-repeat@1.1.7/src/angular-vs-repeat.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.1.2/ng-infinite-scroll.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/re-tree/0.0.2/re-tree.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-slider/0.1.2/slider.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ng-device-detector/1.1.1/ng-device-detector.min.js')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twix.js/0.7.2/twix.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.4/angular.audio.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-analytics/1.1.9/angular-google-analytics.min.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js')
		script(src='https://cdn.jsdelivr.net/npm/angular-intro.js@3.4.0/src/deprecated.angular-intro.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
			
	  // @if compiled = false
		//-<!-- build:js #{env}/js/player/vendor.js -->

		script(src="../../libs/isMobile.min.js")
		script(src='../../libs/jQuery.succinct.min.js')
		
		script(src="../../libs/mixpanel_lib.js")
		script(src="../../libs/sigma.js")
		script(src="../../libs/blob.js")
		script(src="../../libs/filesaver.js")
		script(src="../../libs/lodash-extended.js")
		script(src="../../libs/reqAnimFramePolyfill.js")
		script(src="../../libs/jquery-extns/jquery.mousewheel.js")
		script(src="../../libs/jquery-extns/jquery.animateRotate.js")
		script(src="../../libs/rainbowvis.js")
		script(src="../../libs/d3Pie.min.js")
		script(src="../../libs/d3.color.min.js")
		script(src="../../libs/es6Shims.js")
		script(src="../../libs/fuzzysort.js")
		script(src="../../libs/removeAccents.js")
		script(src="../../libs/matchSorter.js")

		//licenses
		script(src="../../libs/licenseList.js")


		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		script(src='#{player_prefix_index_source}/js/player/vendor.js')
		// @endif

		// @if production = true
		script(src="#{player_prefix_index_source}/js/player.min.js")
		// @endif

		script(src="#{player_prefix_index_source}/js/products/player/app/app.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/cameramods.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/canvas.edges.def.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/canvas.hovers.def.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/canvas.labels.def.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/canvas.nodes.aggr.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/canvas.nodes.def.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/captors.mouse.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/graphmods.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/mappr.utils.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/middlewares.resize.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/misc.bindLeafletEvents.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/misc.drawHovers.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/renderers.canvas.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/renderers.common.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/renderers.webgl.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/sigma.plugins.animate.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/sigma.renderers.snapshot.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/sigmamods.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/webgl.edges.curved.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/webgl.edges.def.js")
		script(src="#{player_prefix_index_source}/js/lib/sigmamods/webgl.nodes.def.js")
		script(src="#{player_prefix_index_source}/js/components/core/directives/dirInfiniteScroll.js")
		script(src="#{player_prefix_index_source}/js/components/core/directives/dirProgressiveRendering.js")
		script(src="#{player_prefix_index_source}/js/components/core/directives/dirSelectAll.js")
		script(src="#{player_prefix_index_source}/js/components/core/directives/dirTextTruncate.js")
		script(src="#{player_prefix_index_source}/js/components/core/filters/filters.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/AttrInfoService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/AttrSanitizeService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/BreadCrumbService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/PartitionService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/SelectionSetService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/SelectorService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/aggregatorService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/attrUIService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/browserDetectService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/dataService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/datagraph.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/embedlyService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/eventBridgeFactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/extAPIService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/graphHoverService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/graphSelectionService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/hoverService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/inputMgmtService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/labelRenderer.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/labelService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/layoutService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/linkService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/localStorageFactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/networkService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/nodeRenderer.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/nodeSelectionService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/orgFactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/playerFactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/projectFactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/rendergraphfactory.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/repositionService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/searchService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/selectService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/snapshotService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/subsetService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/tagService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/uiHelper.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/uiService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/urlShortenService.js")
		script(src="#{player_prefix_index_source}/js/components/core/services/zoomService.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/distrCommon.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/rankDistr.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/sigtest.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/statUtils.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/tagDistr.js")
		script(src="#{player_prefix_index_source}/js/components/core/stats/valDistr.js")
		script(src="#{player_prefix_index_source}/js/components/core/utils/eventSystem.js")
		script(src="#{player_prefix_index_source}/js/components/project/ctrlLayout.js")
		script(src="#{player_prefix_index_source}/js/components/project/ctrlRenderGraph.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/geo/dirGeoLayout.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/grid/dirGridCard.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/grid/dirGridLayout.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/list/dirColResizer.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/list/dirListLayout.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/list/dirListRow.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/scatterplot/dirAxes_new.js")
		script(src="#{player_prefix_index_source}/js/components/project/layouts/sigma/dirSigma.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/filters/dirCheckboxFilter.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/filters/dirRangeFilter.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/filters/dirTagListSort.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/filters/neighborsFilter.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirAttrDistribution.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirAttrRenderer.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirAttrTooltip.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirCategoryList.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirDateTime.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirEmail.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirHistogram.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirInstagramFeed.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirLinkThumb.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirLongText.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirMapEmbed.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirMediaEmbed.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirMediaList.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirNeighbors.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirNeighborsDetail.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirPicture.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirPieChart.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirRankBar.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirRowTagCloud.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirTagCloud.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirTagList.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirTagListSimple.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirTextList.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirTwitterFeed.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirValueBar.js")
		script(src="#{player_prefix_index_source}/js/components/project/distributions/renderers/dirWideTagCloud.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/dirFocusNode.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/dirScrollOverlayAnchors.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/ext_user_overlay/dirExtUserOverlay.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/node_overlay/MetaAttrFactory.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/node_overlay/ctrlNodeOverlay.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/node_overlay/dirElemReady.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/node_overlay/utils.js")
		script(src="#{player_prefix_index_source}/js/components/project/overlays/node_pop/ctrlNodePop.js")
		script(src="#{player_prefix_index_source}/js/components/project/sort_menu/dirSortMenu.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/search/ctrlSearchPanel.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/ctrlRightPanel.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/def_data_groups/ctrlDataPresentation.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/FilterPanelService.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/Steps.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/ctrlFilterPanel.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/ctrlFilterPanelParent.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/dirKillTooltipOnScroll.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/distribution_panel/dirVirtualScroll.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/ctrlInfoPanel.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirClusterBrowser.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNeighborClusters.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNeighborNodes.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNetworkInfo.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNodeBrowser.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNodeInfoAttrs.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirNodesList.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/dirSelectionInfo.js")
		script(src="#{player_prefix_index_source}/js/components/project/panels/right_panel/info_panel/infoPanelService.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlApp.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlBottomTimeline.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlContextPanel.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlLayoutDropdown.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlRightPanelTabsPlayer.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlSlidePanel.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlSnapshotSidePanel.js")
		script(src="#{player_prefix_index_source}/js/products/player/ctrlTopMenu.js")
		script(src="#{player_prefix_index_source}/js/products/player/dirActivateSnapOnScroll.js")
		script(src="#{player_prefix_index_source}/js/products/player/dirImageOnLoad.js")
		script(src="#{player_prefix_index_source}/js/products/player/dirSocialShare.js")
		script(src="#{player_prefix_index_source}/js/products/player/auth/ctrlPlayerAuth.js")
		script(src="#{player_prefix_index_source}/js/products/player/auth/ctrlSurveyEmailAuth.js")
		script(src="#{player_prefix_index_source}/js/products/player/analytics/analytics.config.js")
		script(src="#{player_prefix_index_source}/js/products/player/analytics/analyticsService.js")
