.details-panel(
  ng-if="layout.plotType != 'list' && layout.plotType != 'grid'"
)
  
  .details-panel__left
    .details-panel__project-title
      span.details-panel__project-logo(ng-if="getCurrentLogoImage()")
        img(src="{{getCurrentLogoImage()}}")
      span.details-panel__title{{getCurrentProjectTitle()}}
  .details-panel__controls
    button.details-panel__button.details-panel__button--search(ng-class="{'active': showSearch}", ng-click="searchToggle()")
    .playbar.play-toolbar(ng-class="{'play-toolbar_opened': showSearch}")
      .play-toolbar__search(
        ng-controller="SearchPanelCtrl"
        ng-include=' "#{player_prefix_index_source}/partials/components/project/panels/search/search.html" '
      )
    .details-panel__share
      button.details-panel__button.details-panel__button--share(ng-click="toggleSharePanel()")
      .details-panel__share-box(ng-if="isShowShare")
        .details-panel__share-title Copy project url
        .details-panel__clipboard.clipboard 
          input.clipboard__input(type="text" value="{{host}}")
          button.clipboard__btn(ng-click="copyClipboard()")
        .details-panel__share-title(ng-if="isShareLinks") Or share it:
        .details-panel__share-items(ng-click="toggleSharePanel()")
          a.details-panel__share-item.details-panel__share-item--facebook(ng-if="facebookLink" href="{{facebookLink}}" target="_black" rel="nofollow") Facebook
          a.details-panel__share-item.details-panel__share-item--linkedin(ng-if="linkedinLink" href="{{linkedinLink}}" target="_black" rel="nofollow") LinkedIn
          a.details-panel__share-item.details-panel__share-item--twitter(ng-if="twitterLink" href="{{twitterLink}}" target="_black" rel="nofollow") Twitter

    button.details-panel__button.details-panel__button--info(ng-click="openProjectInfo()")
    button.details-panel__button.details-panel__button--menu(ng-click="openRightPanel()")
  //- .details-panel__logos
  //-   span.details-panel__logo-item(ng-repeat="logo in getLogos()")
  //-     img(src="{{logo}}")
  //-   button.details-panel__logo-more(ng-click="showMoreLogos()", ng-if="isShowMoreBtn && getLogos().length > 4", 
  //-     data-toggle="tooltip" 
  //-     uib-tooltip="Show more partners"
  //-     tooltip-placement="bottom"
  //-     tooltip-append-to-body="true")
  //-     img(src="/img/play-toolbar/plus.svg")
.details-panel__snapshots
  .row-data__content {{getSelectedSnapshotTitle() || ''}}
  .button-group__item
    button.button.button_type_play-toolbar(
      ng-class="isSnapshotSelectorOpen ? 'button_icon_cancel' : 'button_icon_chevron-down'"
      ng-click="toggleSnapshotSelector()"
      uib-tooltip="Snapshot Selector"
      tooltip-append-to-body="true"
      tooltip-placement="right"
  )
  .details-panel__extra-container(ng-if="isSnapshotSelectorOpen")
    .extra-container__content
      .snapshot-selector__item(ng-repeat="snap in getSnapshots()", ng-attr-id="{{ snap.snapName }}" ng-click="selectSnapshot(snap)", ng-class="{ highlight: selectedSnapshot ? snap.isCurrentSnap: ($index == 0) }" uib-tooltip="{{formatSnapshotTooltip(snap)}}" tooltip-append-to-body="true" tooltip-placement="right")
        h3 {{formatSnapshotTitle(snap)}}
        h6(ng-if="snap.subtitle") {{snap.subtitle}}
        
      //.button-group__item
      //  button.button.button_type_play-toolbar.button_icon_help help

.play-toolbar__buttons
  .button-group_type_play-toolbar
    .play-toolbar__content(ng-if="operations.list.length > 1 && operations.opened")
      .play-toolbar__reset-wrap
        button.button_reset(
          ng-click="resetFilters()",
          ng-disabled="!(ui.activeFilterCount > 0)"
        ) Clear Selection
        button.button_collapse(
          ng-click="collapseBreadcrumbs()",
          ng-class="{'button_collapse_hide': !isShowBreadcrumbs}"
        )
      .play-toolbar-list
        section.play-toolbar-list__item(ng-repeat="operation in operations.list",
          ng-if="operation.type != 'init' && isShowBreadcrumbs"
          ng-class="{'play-toolbar-list__item_subsetted' : operation.type == 'subset', 'play-toolbar-list__item_selected': operation.type == 'select', 'play-toolbar-list__item_opened': operation.isOpened }")
          header.play-toolbar-list__header(ng-if="operation.type == 'select' || operation.type == 'subset'", ng-click="operations.toggleOperation(operation)")
            span(ng-class="{'selected' : $last, 'total': !$last}") {{operation.nodesCount}}
            = ' '
            | of
            = ' '
            span.total {{operation.totalNodes}}
            = ' '
            | nodes
            =' '
            b(ng-if="operation.type == 'select'") selected
            b(ng-if="operation.type == 'subset'", ng-class="{ 'span-subset': ($last || ($index == operations.list.length - 2 && operations.last().type == 'select')) }") subsetted

            button(ng-if="$index == operations.list.length -1", ng-click="resetOperation()").button_icon_cancel

          .play-toolbar-list__content(ng-if="(operation.searchText || operation.filters) && operation.isOpened")
            .filter-section-wrap(ng-if="operation.searchText")
                dl.filter-section
                  dt.filter-section__label
                    | Search Results  
                    span(ng-if="operation.searchAttr") &nbsp;{{operation.searchAttr.title}}
                    | :

                  dd.filter-section__content
                    ul.filter-section__list
                      li.filter-section__item
                        span "{{operation.searchText}}"    
            .filter-section-wrap(ng-repeat="filter in operations.filterArray(operation)", ng-if="operation.filters")
              dl.filter-section
                dt.filter-section__label
                  | {{filter.attrInfo.attr.title}}:

                dd.filter-section__content
                  ul.filter-section__list(ng-if="!operations.isNumeric(filter.attrInfo)")
                    li.filter-section__item(ng-repeat="val in filter.values.values")
                      span.filter-section__divider(
                        ng-if="filter.values.values.length > 1 && $index == filter.values.values.length -1"
                      ) &nbsp;or&nbsp;
                      span {{val}}
                  ul.filter-section__list(ng-if="operations.isNumeric(filter.attrInfo)")
                    li.filter-section__item(ng-repeat="val in filter.values")
                      span(ng-if="filter.values.length > 1 && $index == filter.values.length -1") &nbsp;or&nbsp;

                      span.filter-section__item_array(
                        ng-if="val.description == 'btw'&& (filter.attrInfo.attr.attrType != 'year' && filter.attrInfo.attr.attrType != 'timestamp')"
                      )
                        | between
                        = ' '
                        span {{val.values[0] | number:2}}
                        = ' '
                        span.filter-section__divider and
                        = ' '
                        span {{val.values[1] | number:2}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'btw' && (filter.attrInfo.attr.attrType == 'year')"
                      )
                        | between
                        = ' '
                        span {{val.values[0]}}
                        = ' '
                        span.filter-section__divider and
                        span {{val.values[1]}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'btw' && (filter.attrInfo.attr.attrType == 'timestamp')"
                      )
                        | between
                        = ' '
                        span {{operations.formatTime(val.values[0])}}
                        = ' '
                        span.filter-section__divider and
                        span {{operations.formatTime(val.values[1])}}

                      span(
                        ng-if="val.description == 'ht' && (filter.attrInfo.attr.attrType == 'year')"
                      )
                        | after
                        = ' '
                        span {{val.values[0].toString().split('.')[0]}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'ht' && (filter.attrInfo.attr.attrType == 'timestamp')"
                      )
                        | after
                        = ' '
                        span {{operations.formatTime(val.values[0])}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'ht' && (filter.attrInfo.attr.attrType != 'year' && filter.attrInfo.attr.attrType != 'timestamp')"
                      )
                        | higher than
                        = ' '
                        span {{val.values[0] | number:2}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'lt' && (filter.attrInfo.attr.attrType == 'year')"
                      )
                        | before
                        = ' '
                        span {{val.values[0].toString().split('.')[0]}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'lt' && (filter.attrInfo.attr.attrType == 'timestamp')"
                      )
                        | before
                        = ' '
                        span {{operations.formatTime(val.values[0])}}

                      span.filter-section__item_array(
                        ng-if="val.description == 'lt' && (filter.attrInfo.attr.attrType != 'year' && filter.attrInfo.attr.attrType != 'timestamp')"
                      )
                        | lower than
                        = ' '
                        span {{val.values[0] | number:2}}

                      span(ng-if="val.description == 'eq'") {{val.values[0]}}
    button.button_summarize(
      ng-click="subsetFilters()",
      ng-if="ui.subsetEnabled"
      uib-tooltip="Click to summarize the selected nodes in the ‘Summary’ tab"
      tooltip-append-to-body="true"
      tooltip-placement="right"
    ) Summarize Selection
.play-toolbar-bottom(
  ng-if="layout.plotType != 'list' && layout.plotType != 'grid'"
)

  //- LEFT AREA
  .button-zoom
    button.button-zoom__item(ng-click="zoomInfo.zoomExtents()") target
    .button-zoom__box
      button.button-zoom__box-item.button-zoom__box-item--plus(
        ng-click="zoomInfo.zoomIn()"
        uib-tooltip="Zoom in"
        tooltip-append-to-body="true"
        tooltip-placement="left"
      ) zoom +
      
      button.button-zoom__box-item.button-zoom__box-item--minus(
        ng-click="zoomInfo.zoomOut()"
        uib-tooltip="Zoom out"
        tooltip-append-to-body="true"
        tooltip-placement="left"
      ) zoom -

