.legend-container.flex-transclude.width-100(ng-mouseleave="rightPanelExited();")
	.flex-vert-container.width-100.panel-scroll(style="overflow-x: hidden")
		//- .header(ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false; panelUI.summaryPanelHover = true;" ng-mouseleave="showLegendBtns = false; panelUI.summaryPanelHover = false;" ng-class="{'active': panelUI.summaryPanelOpen}")
		.header(ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false;" ng-mouseleave="showLegendBtns = false;")
			.row.vert-align.main.main--sized-by
				.col-xs-12
					h6.title.text-uppercase.pointable-cursor.vert-align
							.title-space.width-100
								h6.title.text-uppercase.truncate.vert-align
									.title-space
										span.inline.nowrap
											span Sized by:&nbsp;&nbsp;
											span(uib-dropdown dropdown-append-to-body)
												span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;")
													span.text-link {{vm.nodeSizeAttr.title}}
														i.fa.fa-angle-down
												.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
													.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
													.uib-dropdown-flex-content(style="margin-left: 25px;")
														.uib-dropdown-triangle
														.uib-dropdown-flex.center
															ul.dd-list.list-unstyled(style="max-height:50vh;overflow-y:auto;")
																li.row.vert-align.pointable-cursor(ng-repeat="item in nodeSizeAttrs", ng-click="sizeByAttrUpdate(item)", style="width: auto")
																	.col-xs-12
																		h6.no-margin {{item.title}}

					.filter-list__item(
						ng-class="{'attr-hidden':!vm.nodeSizeAttr.visible, 'first': ($index == 1), 'chart-first-item': vm.nodeSizeAttr.isFirstChart, 'tags-first-item': vm.nodeSizeAttr.isFirstTag}",
						ng-click='selectNodesByAttrib(vm.nodeSizeAttr.title, vm.nodeSizeAttr.value, $event)'
					)
						section.card.card_type_filter(data-attr="{{vm.nodeSizeAttr.id}}", ng-class="{'card__chart' : vm.nodeSizeAttr.attrType == 'integer' || vm.nodeSizeAttr.attrType == 'float' || vm.nodeSizeAttr.attrType == 'boolean' || vm.nodeSizeAttr.attrType == 'year' || vm.nodeSizeAttr.attrType == 'timestamp' }")
							.card__body
								.card__content(ng-repeat="attrItem in [vm.nodeSizeAttr]")
									dir-attr-renderer(attr-to-render="attrItem", noe-color-str="nodeColorStr", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia")

						h6.no-margin.text-center.title(
							ng-if="vm.nodeSizeAttr.attrType == 'integer' || vm.nodeSizeAttr.attrType == 'float' || vm.nodeSizeAttr.attrType == 'boolean' || vm.nodeSizeAttr.attrType == 'year' || vm.nodeSizeAttr.attrType == 'timestamp'"
							uib-tooltip="{{vm.nodeSizeAttr.metadata.descr || vm.nodeSizeAttr.title}}"
							tooltip-placement='right'
							tooltip-append-to-body="true"
						)
							span {{vm.nodeSizeAttr.title}}
							span(ng-show="vm.nodeSizeAttr.principalVal") :&nbsp;{{vm.nodeSizeAttr.principalVal}}
				//- .col-xs-4
				//- 	span
				//- 		button.square-btn.small-btn.panel-btn(type="button", ng-click="clearSelections();") Reset
			.row.vert-align.main
				.col-xs-12(ng-if="dataGroupsInfo.colorNodesBy.id !== dataGroupsInfo.clusterNodesBy.id")
					h6.title.text-uppercase.pointable-cursor.vert-align
							.title-space.width-100
								h6.title.text-uppercase.truncate.vert-align
									.title-space
										span.inline.nowrap
											span Clustered by:&nbsp;&nbsp;
											span(uib-dropdown dropdown-append-to-body)
												span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;")
													span.text-link {{dataGroupsInfo.clusterNodesBy.title}}
														i.fa.fa-angle-down
												.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
													.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
													.uib-dropdown-flex-content(style="margin-left: 25px;")
														.uib-dropdown-triangle
														.uib-dropdown-flex.center
															ul.dd-list.list-unstyled(style="max-height:50vh;overflow-y:auto;")
																li.row.vert-align.pointable-cursor(ng-repeat="item in nodeColorAttrs", ng-click="clusterByAttrUpdate(item)", style="width: auto")
																	.col-xs-12
																		h6.no-margin {{item.title}}
			.row.vert-align.main																		
				.col-xs-12
					h6.title.text-uppercase.pointable-cursor.vert-align
							.title-space.width-100
								h6.title.text-uppercase.truncate.vert-align
									.title-space
										span.inline.nowrap
											span Colored by:&nbsp;&nbsp;
											span(uib-dropdown dropdown-append-to-body)
												span(uib-dropdown-toggle auto-close="outsideClick" ng-click="keepDrawerOpen = true;")
													span.text-link {{dataGroupsInfo.colorNodesBy.title}}
														i.fa.fa-angle-down
												.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
													.uib-dropdown-click-close(ng-click="keepDrawerOpen = false;")
													.uib-dropdown-flex-content(style="margin-left: 25px;")
														.uib-dropdown-triangle
														.uib-dropdown-flex.center
															ul.dd-list.list-unstyled(style="max-height:50vh;overflow-y:auto;")
																li.row.vert-align.pointable-cursor(ng-repeat="item in nodeColorAttrs", ng-click="colorByAttrUpdate(item)", style="width: auto")
																	.col-xs-12
																		h6.no-margin {{item.title}}

					.btns(ng-if="mapprSettings.edgeColorStrat == 'select' || mapprSettings.edgeColorStrat == 'attr'")
						.square-btn.small-btn(ng-if="!ui.showingLinks" uib-tooltip="View Links Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = true;")
							.link-mask
								.link-circle
						.square-btn.small-btn.vert-align(ng-if="ui.showingLinks" uib-tooltip="View Nodes Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = false;")
							i.icon-legend-dots

			.hidden-btns(ng-click="$event.stopPropagation()" ng-if="!isNodeColorNumeric && ui.showViewToggle")
				h6.text-uppercase.animate-hidden-panel-btns(ng-show="(showLegendBtns && panelUI.summaryPanelOpen) || keepDrawerOpen")
					.row.vert-align
						.col-xs-7.nowrap.vert-align
						.col-xs-5.nowrap(ng-if="ui.showViewToggle")
							span.text-link
								span(ng-if="!ui.summaryToggleOpen" ng-click="ui.summaryToggleOpen = true;")
									i.fa.fa-caret-right.fa-fw
									span Expanded View
								span(ng-if="ui.summaryToggleOpen" ng-click="ui.summaryToggleOpen = false;")
									i.fa.fa-caret-down.fa-fw
									span Compact View
		.list-content.flex-fill(ng-if="panelUI.summaryPanelOpen")
			///
			/// Node Color Panel
			///
			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat != 'select' && mapprSettings.nodeColorStrat != 'fixed'", dir-kill-tooltip-on-scroll)
				.panel-list(ng-if="!isNodeColorNumeric" ng-class="{'highlighted': ui.highlightingNodes}")
					.flex
						dir-attr-renderer(renderToType="'horizontal-bars'", attr-to-render="dataGroupsInfo.colorNodesBy", node-color-str="nodeColorStr", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")

				.panel-list(ng-if="isNodeColorNumeric && isNumericItemByColor")
					.panel-list__numeric(ng-repeat="item in [isNumericItemByColor]")
						dir-attr-renderer(attr-to-render="item", node-color-str="nodeColorStr", is-node="true", show-filter="true", disable-filter="false" theme="appUi.theme" pinned-media="pinnedMedia" gradient="true")
						h6.panel-list__title {{isNumericItemByColor.title}}
					
				.color-box__description-wrap
					h5 Description
					.color-box__description(ng-if="getSelectedSnapshot().length")
						div(ng-bind-html="getSelectedSnapshot()[0]")
						.color-box__description-hidden(ng-bind-html="getSelectedSnapshot()[1]", ng-if="isShowMoreDesc")
						.color-box__description-btn-wrap
							button.color-box__description-btn(ng-click="isShowMoreDesc = !isShowMoreDesc") {{isShowMoreDesc ? 'Less' : 'More'}}
					div
					.pointable-cursor(ng-show="dataGroupVMs.length > ui.dataGroupsViewCount", ng-click='loadMoreDataGroups(); $event.stopPropagation();')
						.h6
							a.col-xs-12.text-right.pointable-cursor.text-link.no-underline
								em more&hellip;
							.clearfix

			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat == 'select'", dir-kill-tooltip-on-scroll)
				.panel-list
					.panel-item.row.vert-align
						.col-xs-2.vert-align
							i.fa-1-3x.icon-legend-dots(style="color:{{mapprSettings.nodeColorDefaultValue}};")
						.col-xs-10
							h6.less-gutter All Nodes
			///
			/// Edge Color Panel
			///
			.panel-scroll(ng-if="ui.showingLinks && mapprSettings.edgeColorStrat == 'attr'", dir-kill-tooltip-on-scroll)
				.panel-list(ng-if="!isEdgeColorNumeric" ng-class="{'highlighted': ui.highlightingNodes}")
					.panel-item.pointable-cursor(ng-repeat="l in dataGroupLinkVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true", ng-click="selectEdgesByAttrib(l.name, $event)")
						.row.flex-container()
							.col-xs-1.flex-fill
								.legend-icon
									.link-mask
										.link-circle(ng-style="{'border-color': l.colorval}")
							.col-xs-2
								h6.pull-right.panel-number {{l.num}}
							.col-xs-10
								h6.less-gutter {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
				.panel-list(ng-if="isEdgeColorNumeric")
					.panel-item.row.vert-align.pointable-cursor(ng-repeat="l in dataGroupVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", ng-click='hoverNodesByAttrib(undefined, $event); selectNodesByAttrib(l.num, $event)', ng-mouseenter='hoverNodesByAttrib(l.num, $event, 700)', ng-mouseleave='hoverNodesByAttrib(undefined, $event)', uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true")
						.col-xs-2
							.legend-icon
								.link-mask
									//l.color needs to return border color
									.link-circle(ng-style='l.color')
						.col-xs-10
							h6.less-gutter {{l.num}} {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
