.page-stage
	.stage(ng-controller="AppCtrl")
		.pinned-media(ng-if="pinnedMedia.isMediaPinned")
			dir-media-embed(url="pinnedMedia.nodeValue" node-color-str="{{pinnedMedia.nodeColorStr}}", is-small="false", is-pinned="true", render-width="300", render-height="225" pin-media="pinnedMedia.pinMedia" unpin-media="pinnedMedia.unpinMedia")
		.modal(ng-if="isOldBrowser()")
			h1 Please consider updating your browser
			p Your browser is out of date and Mappr will respond unpredictably in this version of your browser.
		#mappr-player.mappr-player(ng-class="colorTheme")
			#project-layout.project-layout( ng-class="{'higher':(player.settings.timelineType == 'bottom')}")
				div(ng-controller="renderGraphCtrl")
					div(ng-controller="layoutCtrl" ng-class="player.settings.fontClass")
						//- .user-container(ng-if="!appUi.openExtUserOverlay && appUi.hasExtUser", ng-click="openExtUserOverlay();" style="border-color: {{extUserInfo.clusterColor}};")
						//- 	.img(style="background-image: url({{extUserInfo.userPicUrl}});")
						//- h5 {{extUserInfo.userName}}
						.dots-loader(ng-if="!snapInfo || !snapInfo.snapsLoaded" ng-include=' "#{player_prefix_index}/player/dotsLoader.html" ')
						geolayout(ng-if="plotType == 'geo'" ng-click="triggerInteraction();")
						scatterlayout(ng-if="plotType == 'scatterplot'" ng-click="triggerInteraction();")
						sig(ng-click="triggerInteraction();" ng-show="plotType != 'grid'")
						dir-grid-layout.animate-fade(ng-if="plotType == 'grid'")
						dir-list-layout.animate-fade(ng-if="plotType == 'list'")
						drawaxis(ng-if="plotType == 'scatterplot'") 
						div(ng-controller="NodeOverlayCtrl", ng-include=' "#{player_prefix_index}/components/project/overlays/node_overlay/nodeOverlay.html" ')
						div(ng-controller="NodeOverlayCtrl" ng-include=' "#{player_prefix_index}/components/project/panels/node_right_panel/NodeRightPanel.html" ')
						div(ng-controller="NodePopCtrl", ng-include=' "#{player_prefix_index}/components/project/overlays/node_pop/nodePop.html" ')
						dir-ext-user-overlay(ng-if="appUi.openExtUserOverlay && mapprSettings", load-info="extUserInfo" mappr-settings="mapprSettings" share-title="{{player.settings.shareTitleCompare}}" facebook-share="player.settings.facebookShare" twitter-share="player.settings.twitterShare")
						div(ng-controller="RightPanelTabsPlayerCtrl" ng-include=' "#{player_prefix_index}/components/project/panels/right_panel/rightPanelPlayerTabs.html" ')
						div(ng-controller="RightPanelCtrl" ng-include=' "#{player_prefix_index}/player/rightPanel.html" ')
						//- div#panels-holder(ng-controller="LegendPanelCtrl")
						//- 	#legend-panel.vert-panel.animate-fade-out(ng-class="{'lower':(player.settings.showHeader && player.settings.headerType != 'simple')}" ng-include=' "#{player_prefix_index}/partials/player/play_nodedetail.html" ', ng-controller="RightPanelCtrl")
						div(ng-include=' "#{player_prefix_index}/player/header.html" ')
						div(ng-include=' "#{player_prefix_index}/player/introOverlay.html" ')
						//- div(ng-include=' "#{player_prefix_index}/player/graphControls.html" ')
						div(ng-include=' "#{player_prefix_index}/player/playbar.html" ')

						#image-layout.animate-fade(ng-repeat="snap in player.snapshots | filter: {type: 'image'}" ng-if="snapInfo.activeSnap.id == snap.id")
							img(ng-class="{'tall':isTallImg()}" ng-src="{{snapInfo.activeSnap.picture}}" imageonload="")
						#embed-layout(ng-class="{'animate-down':!isLaterSnap(), 'animate-up':isLaterSnap()}" ng-repeat="snap in player.snapshots" ng-if="snapInfo.activeSnap._id == snap._id && snapInfo.activeSnap.type == 'embed'" ng-bind-html="snapInfo.activeSnap.embed | trustHtml")
						//- div(ng-include=' "#{player_prefix_index}/player/footer.html" ')
