doctype html
html(lang='en', data-ng-app='hcApp' style="background: #{backgroundColor}" )
	head
		meta(charset='utf-8')
		link(rel="icon"  href="#{player_prefix_index_source}/img/logos/vdl-logo.svg")
		meta(name="viewport", content="initial-scale=.7, user-scalable=no, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="fb:app_id", content="1389717224632761")
		meta(name="twitter:card", content="summary")
		meta(property="og:image", content="#{snapshotImg}")
		meta(property="og:title", content="openmappr | network exploration tool")
		meta(property="og:url", content="")
		meta(property="og:description", content="#{playerTitle}")
		meta(name="robots", content="noindex")
		title openmappr | #{playerTitle}
		meta(name="description", content="#{playerTitle}")
		link(rel="stylesheet", href="#{player_prefix_index_source}/css/mappr-icons/style.css")
		link(href="#{player_prefix_index_source}/css/font-awesome.min.css", rel="stylesheet")
		link(rel='stylesheet', href='#{player_prefix_index_source}/css/vendor.css')

		script.
			window.MP_APP = {};
			window.DATA_PATH = '#{playerDataPath}';

		link(rel='stylesheet', href='#{player_prefix_index_source}/css/player.debug.css')

	body#app.nav-min(data-custom-background, data-off-canvas-nav style="background: #{backgroundColor}" class="#{colorTheme}-theme side-menu-compressed")
		auth-modal
		div
			div.view-container
				div#content(style="background: #{backgroundColor}" data-ng-view='ng-view', data-close-min-nav='data-close-min-nav')

		div#svg-renderarea.hidden
		div(ng-include="'#{player_prefix_index}/components/project/distributions/renderers/renderTemplates.html'")

		script(src='#{player_prefix_index_source}/libs/es5-shim.min.js')
		script(src='#{player_prefix_index_source}/libs/jquery.min.js')
		script(src='#{player_prefix_index_source}/libs/jquery-ui.min.js')
		script(src='#{player_prefix_index_source}/libs/angular.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-resource.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-cookies.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-sanitize.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-scroll.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-route.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-animate.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-touch.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-simple-logger.min.js')
		script(src='#{player_prefix_index_source}/libs/ui-bootstrap-tpls.min.js')
		script(src='#{player_prefix_index_source}/libs/angular-vs-repeat.min.js')
		script(src='#{player_prefix_index_source}/libs/json3.min.js')
		script(src='#{player_prefix_index_source}/libs/lodash.min.js')
		script(src='#{player_prefix_index_source}/libs/leaflet.js')
		script(src='#{player_prefix_index_source}/libs/loading-bar.min.js')
		script(src='#{player_prefix_index_source}/libs/d3.min.js')
		script(src='#{player_prefix_index_source}/libs/snap.svg-min.js')
		script(src='#{player_prefix_index_source}/libs/ng-infinite-scroll.min.js')
		script(src='#{player_prefix_index_source}/libs/re-tree.min.js')
		script(src='#{player_prefix_index_source}/libs/slider.min.js')
		script(src='#{player_prefix_index_source}/libs/ng-device-detector.min.js')
		script(src='#{player_prefix_index_source}/libs/bootstrap-notify.min.js')
		script(src='#{player_prefix_index_source}/libs/toastr.min.js')
		script(src='#{player_prefix_index_source}/libs/moment.min.js')
		script(src='#{player_prefix_index_source}/libs/twix.min.js')
		script(src='#{player_prefix_index_source}/libs/angular.audio.js')
		script(src='#{player_prefix_index_source}/libs/intro.min.js')
		script(src='#{player_prefix_index_source}/libs/deprecated.angular-intro.js')
		script(src='#{player_prefix_index_source}/libs/html2canvas.min.js')
		script(src='#{player_prefix_index_source}/libs/sql.js')
		script(src='#{player_prefix_index_source}/js/player/vendor.js')
		script(src="#{player_prefix_index_source}/js/player.min.js")
