.right-panel__tabs.side-menu
  .side-menu__body
    dir-panel-selection
    ul.tabs-menu
      li.tabs-menu__item(
        ng-repeat="tab in rightPanelTabs" ng-click="tab.cmd()"
        ng-class="{'tabs-menu__item_active': tab.panel === panelUI.currentPanelOpen}"
        )

        span.tabs-menu__link(
          class='tabs-menu__link_{{tab.iconClass}}') {{tab.title}}
          span.tabs-menu__badge(ng-if="tab.showSelCount && selNodesCount !== 0") {{selNodesCount}}

    .right-panel__divider
    //- dir-nodes-list(nodes="selInfo.genericSelNodes", links="selInfo.genericSelLinks" selected-groups="selInfo.selectedGroups", label-attr="selInfo.labelAttr" node-color-attr="selInfo.nodeColorAttr" node-color-attr-title="selInfo.nodeColorAttrTitle" panel-mode="selInfo.panelMode" sort-types="selInfo.sortTypes" sort-info="selInfo.sortInfo"  search-query="nodeSearchQuery")

    //- ul.list-unstyled.panel-list
    //-   li.panel-item.list-item.no-hover.nodes-list__selected-info(ng-if="nodes.length > 1")
    //-     .vert-align.list-panel-header.truncate
    //-       span.dark-grey-font.list-panel-header__nodes.truncate {{nodes.length}} {{nodesStatus}}

    //-       span.dark-grey-font.list-panel-header__links.truncate(ng-if="links") {{links.length}} {{linksStatus}}
    //-       span.dark-drey-font(ng-if="!links") ...
        


  .side-menu__footer
    ul.right-corner

      li.right-corner__item
        a(href="mailto:support@openmappr.org" target="_blank")
          span.right-corner__link.right-corner__link_feedback( 
            data-toggle="tooltip" 
            uib-tooltip="Submit Feedback"
            tooltip-placement="left"
            tooltip-append-to-body="true")

      li.right-corner_item(ng-click="exportCurrentData()", ng-if="displayExportButton")
        span.right-corner__link.right-corner__link_export(
          data-toggle="tooltip"
          uib-tooltip="Export current selection"
          tooltip-placement="left"
          tooltip-append-to-body="true")

