.right-panel__tabs.side-menu
  .side-menu__logo
    .logo
      img.logo__image(src="/img/logo-light_horizontal.svg" alt="Vibrant Logo")/

  .side-menu__body
    ul.tabs-menu
      li.tabs-menu__item(
        ng-repeat="tab in rightPanelTabs" ng-click="tab.cmd()"
        ng-class="{'tabs-menu__item_active': tab.panel === panelUI.currentPanelOpen}"
        )

        span.tabs-menu__link(
          data-toggle="tooltip" 
          uib-tooltip="{{tab.title}}: {{tab.tooltipTitle}}" 
          tooltip-placement="right" 
          class='tabs-menu__link_{{tab.iconClass}}')
          span.tabs-menu__badge(ng-if="tab.showSelCount && selNodesCount !== 0") {{selNodesCount}}

    .right-panel__divider


  .side-menu__footer
    ul.tabs-menu

      li.tabs-menu__item
        a(href="mailto:support@openmappr.org" target="_blank")
          span.tabs-menu__link.tabs-menu__link_feedback( 
            data-toggle="tooltip" 
            uib-tooltip="Submit Feedback"
            tooltip-placement="right")

      li.tabs-menu__item(ng-click="exportCurrentData()", ng-if="displayExportButton")
        span.tabs-menu__link.tabs-menu__link_export(
          data-toggle="tooltip"
          uib-tooltip="Export current selection"
          tooltip-placement="right")
