.right-panel__tabs.side-menu(style="position:absolute; top: 0;")
  .side-menu__body
    ul.tabs-menu
      li.tabs-menu__item(
        ng-repeat="tab in rightPanelTabs" ng-click="tab.cmd()"
        ng-class="{'tabs-menu__item_active': tab.panel === panelUI.currentPanelOpen}"
        )

        span.tabs-menu__link(
          class='tabs-menu__link_{{tab.iconClass}}') {{tab.title}}
          span.tabs-menu__badge(ng-if="tab.showSelCount && selNodesCount !== 0") {{selNodesCount}}

    .right-panel__divider


  .side-menu__footer
    ul.right-corner

      li.right-corner__item
        a(href="mailto:support@openmappr.org" target="_blank")
          span.right-corner__link.right-corner__link_feedback( 
            data-toggle="tooltip" 
            uib-tooltip="Submit Feedback"
            tooltip-placement="left"
            tooltip-append-to-body="true")

      li.right-corner_item(ng-click="exportCurrentData()", ng-if="displayExportButton")
        span.right-corner__link.right-corner__link_export(
          data-toggle="tooltip"
          uib-tooltip="Export current selection"
          tooltip-placement="left"
          tooltip-append-to-body="true")

