#right-panel.right-panel(ng-if="panelUI.showRightPanel" ng-controller="RightPanelCtrl")
	#mainFilterPanel.height-100
		.accordion.height-100.flex-vert-container(ng-show="!panelUI.stylePanelOpen && !panelUI.layoutPanelOpen && !panelUI.playerPanelOpen")
			.accordion-panel.info-panel.flex-transclude(ng-show="panelUI.infoPanelOpen" ng-controller="InfoPanelCtrl", ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/info_panel/infoPanel.html" ')
			.accordion-panel.panel-container.flex-transclude(ng-show="panelUI.summaryPanelOpen", ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/def_data_groups/projectSummary.html" ')
			.accordion-panel.info-panel.flex-transclude(ng-show="panelUI.selectionPanelOpen" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/custom_data_groups/selectionSets.html" ')
			// change ng-style to ng-class and work on data-dir-virtual-scroll rendering
			.accordion-panel.filter-panel.flex-transclude(ng-style="panelUI.filterPanelOpen ? { 'height': 'auto', 'opacity': 1} : { 'height': 0, 'opacity': 0 }" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/right_panel/distribution_panel/filterPanel.html" ')
		.accordion.height-100.flex-vert-container(ng-show="panelUI.stylePanelOpen" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/style/stylepanel.html" ')
		//layout panel needs to perform layout operations regardless of if it's shown
		.accordion.height-100.flex-vert-container(ng-show="panelUI.layoutPanelOpen" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/layout/layoutpanel.html" ')
		.accordion.height-100.flex-vert-container(ng-show="panelUI.playerPanelOpen" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/publish/playerEditor.html" ')
