doctype html
html(lang='en', data-ng-app='hcApp')
	head
		meta(charset='utf-8')
		link(rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/mappr-misc/icons/vdat-blue-dot-logo.png")
		meta(name="viewport", content="initial-scale=.7, user-scalable=no, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="fb:app_id", content="1389717224632761")
		meta(property="og:image", content="/img/openmappr_socialmedia.png")
		meta(property="og:title", content="openmappr | network exploration tool")
		meta(name="robots", content="noindex")
		//meta(property="og:description", content="Data science and visualization platform")
		title openmappr | network exploration tool
		//meta(name="description", content="Data science and visualization platform")
		link(rel="stylesheet", href="#{server_prefix}/css/mappr-icons/style.css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet")
		//-link(href='//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css', rel="stylesheet")

		// @if compiled = false
		//-<!-- build:css #{env}/css/vendor.css -->
		// bower:css
		link(rel='stylesheet', href='../../bower_components/morris.js/morris.css')
		link(rel='stylesheet', href='../../bower_components/toastr/toastr.min.css')
		link(rel='stylesheet', href='../../bower_components/leaflet/dist/leaflet.css')
		link(rel='stylesheet', href='../../bower_components/angular-loading-bar/src/loading-bar.css')
		link(rel='stylesheet', href='../../bower_components/spectrum/spectrum.css')
		link(rel='stylesheet', href='../../bower_components/angular-wizard/dist/angular-wizard.css')
		link(rel='stylesheet', href='../../bower_components/intro.js/introjs.css')
		// endbower
		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		link(rel='stylesheet', href='#{server_prefix}/css/vendor.css')
		// @endif
		// @if production=true
		//- link(rel='stylesheet', href='#{server_prefix}/css/mappr.min.css')


		script.
			(function() {
				var mapprCssUrl = '#{server_prefix}/css/mappr.min.css';
				loadCSSCors(mapprCssUrl);

				function loadCSSCors(stylesheet_uri) {
					var _xhr = window.XMLHttpRequest;
					var has_cred = false;
					try {
						has_cred = _xhr && ('withCredentials' in (new _xhr()));
					}
					catch(e) {}
					if (!has_cred) {
						console.error('CORS not supported');
						return;
					}
					var xhr = new _xhr();
					xhr.open('GET', stylesheet_uri);
					xhr.onload = function() {
						xhr.onload = xhr.onerror = null;
						if (xhr.status < 200 || xhr.status >=300) {
						console.error('style failed to load: ' + stylesheet_uri)
						}
						else {
							var style_tag = document.createElement('style');
							style_tag.appendChild(document.createTextNode(xhr.responseText));
							document.head.appendChild(style_tag);
						}
					};
					xhr.onerror = function() {
						xhr.onload = xhr.onerror = null;
						console.error('XHR CORS CSS fail:' + styleURI);
					};
					xhr.send();
				}
			}());
		script(src="//dmc1acwvwny3.cloudfront.net/atatus.js")
		script.
			(function() {
				var config = {
					sourcemap: true,
					enableAjaxErrors: true,
					enableAjaxAbort: false,
					ignoreErrors: [],
					allowedDomains: ['app.mappr.io', 'staging.mappr.io']
				};
				var staging_key = '',
					app_key = '',
					host, key;
				if(document.location && document.location.hostname) {
					host = document.location.hostname.split('.')[0];
				}
				if(host == 'staging') { key = staging_key; }
				else if(host == 'app') { key = app_key; }
				window.atatus.config(key, config).install();
				window.atatus.onBeforeErrorSend(function (payload) {
					// Ignore XHR 400s
					if(payload.customData && payload.customData.status && payload.customData.status >= 400 && payload.customData.status < 500) {
						return false;
					}
					else {
						return true;
						}
				});
			}());

		// @endif
		// @if production=false
		link(rel='stylesheet', href='/css/mappr.debug.css')
		// @endif

		//- start Mixpanel
		script.
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
			for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
		//- end Mixpanel

		//- script(src="//use.typekit.net/lew5cwh.js")
		//- script.
		//- 	try{Typekit.load({ async: true });}catch(e){}
		script.
			//- Single global object for app
			window.MP_APP = {};

	body#app.nav-min(data-custom-background, data-off-canvas-nav, data-ng-controller='AppCtrl', class="side-menu-compressed", ng-class="{'dark-theme': appUi.theme == 'dark'}")
		div(data-ng-cloak='data-ng-cloak')
			div(ng-if="isAuthenticated()", data-ng-controller='DashboardCtrl', ng-init="user.loadInitial()")
				div
					section#header.header.top-header(ng-if='requiresHeaderBar()', data-ng-include=' "#{server_prefix}#{view_path}/components/dashboard/header/header.html" ')
					aside#nav-container(ng-if ='requiresNavBar()', data-ng-include=' "#{server_prefix}#{view_path}/components/dashboard/header/nav.html" ')
				div.view-container
					div#content(ng-view)
					#content-cover(data-close-min-nav='data-close-min-nav')
			div.view-container(ng-if="!isAuthenticated()")
				div#content.animate-fade-out(data-ng-view='ng-view')
			//div(ng-show="appOffline", ng-bind="appStatusMessage", ng-style="{'position':'fixed', 'right':'10px', 'top':'10px', 'width':'300px', 'height':'50px', 'background-color': 'yellow', 'z-index':'100'}")
		div#svg-renderarea.hidden
		div(ng-include=" '#{server_prefix}#{view_path}/components/project/distributions/renderers/renderTemplates.html' ")

		// @if compiled = false
		//-<!-- build:js #{env}/js/mappr/vendor.js -->
		script(src='../../bower_components/ng-file-upload/ng-file-upload-shim.js')
		// bower:js
		script(src='../../bower_components/es5-shim/es5-shim.min.js')
		script(src='../../bower_components/jquery/dist/jquery.min.js')
		script(src='../../bower_components/jquery-ui/ui/minified/jquery-ui.min.js')
		script(src='../../bower_components/angular/angular.min.js')
		script(src='../../bower_components/angular-resource/angular-resource.min.js')
		script(src='../../bower_components/angular-cookies/angular-cookies.min.js')
		script(src='../../bower_components/angular-sanitize/angular-sanitize.min.js')
		script(src='../../bower_components/angular-scroll/angular-scroll.min.js')
		script(src='../../bower_components/angular-route/angular-route.min.js')
		script(src='../../bower_components/angular-animate/angular-animate.min.js')
		script(src='../../bower_components/angular-touch/angular-touch.min.js')
		script(src='../../bower_components/angular-simple-logger/dist/angular-simple-logger.js')
		script(src='../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
		script(src='../../bower_components/angular-bootstrap/ui-bootstrap.js')
		script(src='../../bower_components/angular-vs-repeat/src/angular-vs-repeat.min.js')
		script(src='../../bower_components/jquery.slimscroll/jquery.slimscroll.min.js')
		script(src='../../bower_components/json3/lib/json3.min.js')
		script(src='../../bower_components/toastr/toastr.min.js')
		script(src='../../bower_components/lodash/lodash.min.js')
		script(src='../../bower_components/textAngular/dist/textAngular-sanitize.min.js')
		script(src='../../bower_components/textAngular/dist/textAngular.min.js')
		script(src='../../bower_components/leaflet/dist/leaflet.js')
		script(src='../../bower_components/angular-leaflet/dist/angular-leaflet-directive.js')
		script(src='../../bower_components/angular-ui-slider/src/slider.js')
		script(src='../../bower_components/ng-file-upload/ng-file-upload.min.js')
		script(src='../../bower_components/angular-loading-bar/build/loading-bar.min.js')
		script(src='../../bower_components/d3/d3.min.js')
		script(src='../../bower_components/snap.svg/dist/snap.svg-min.js')
		script(src='../../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
		script(src='../../bower_components/re-tree/re-tree.min.js')
		script(src='../../bower_components/ng-device-detector/ng-device-detector.min.js')
		script(src='../../bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
		script(src='../../bower_components/succinct/jQuery.succinct.min.js')
		script(src='../../bower_components/moment/moment.js')
		script(src='../../bower_components/twix/dist/twix.js')
		script(src='../../bower_components/intro.js/intro.js')
		script(src='../../bower_components/angular-intro.js/src/deprecated.angular-intro.js')
		script(src='../../bower_components/html2canvas/build/html2canvas.min.js')

		// endbower
		script(src="../../libs/mixpanel_lib.js")
		script(src="../../libs/sigma.js")
		script(src="../../libs/blob.js")
		script(src="../../libs/filesaver.js")
		script(src="../../libs/lodash-extended.js")
		script(src="../../libs/reqAnimFramePolyfill.js")
		script(src="../../libs/sortable.js")
		script(src="../../libs/jquery-extns/jquery.event.drag-2.2.js")
		script(src="../../libs/jquery-extns/jquery.mousewheel.js")
		script(src="../../libs/jquery-extns/jquery.colorpicker.js")
		script(src="../../libs/jquery-extns/jquery.sparkline.min.js")
		script(src="../../libs/jquery-extns/jquery.animateRotate.js")
		script(src="../../libs/tween.min.js")
		script(src="../../libs/zip.min.js")
		script(src="../../libs/inflate.js")
		script(src="../../libs/screenfull.min.js")
		script(src="../../libs/bootstrap.file-input.js")
		script(src="../../libs/rainbowvis.js")
		script(src="../../libs/pusher.color.min.js")
		script(src="../../libs/d3Pie.min.js")
		script(src="../../libs/d3.color.min.js")
		script(src="../../libs/es6Shims.js")
		script(src="../../libs/fuzzysort.js")

		//licenses
		script(src="../../libs/licenseList.js")
		//-<!-- endbuild -->
		// @endif
		// @if compiled = true
		script(src='#{server_prefix}/js/mappr/vendor.js')
		// @endif

		// @if production = true
		script(src='/socket.io/socket.io.js')
		script(src="#{server_prefix}/js/mappr.min.js")
		// @endif

		// @if production = false
		script(src='/js/products/mappr/app/app.js')
		script(src='/socket.io/socket.io.js')
		//- sourcing into templates
		//- include: "type": "js", "files": "js/lib/sigmamods/*.js"
		//- include: "type": "js", "files": "js/components/**/*.js"
		//- include: "type": "js", "files": "js/products/mappr/*.js"
		//- include: "type": "js", "files": "js/products/mappr/analytics/**/*.js"
		// @endif

		//- script(src="//platform.instagram.com/en_US/embeds.js")
		// @if NODE_ENV='production'
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '-1', '');
			ga('send', 'pageview');
		// @endif
